<!-- Author: Mamotsoko Maphutha 07/08/2023  -->
<div class="row page-body ">
    <div class="col-12">
        <app-navbar></app-navbar>
    </div>
    <div class="mobile-header">
    </div>
    <div class="justify-center">
            <div class="container mobile hidden">
                <div id="tellMeCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="form-container ">
                        <div class="carousel-inner">
                            <div class="carousel-item active ">
                                <div class="carousel-caption ">
                                </div>
                                <div class="card">
                                    <!-- This code below displays the image on the welcome page -->
                                        <img class= "carousel-images" src="assets/images/logo/f_carrot.png" alt="...">
                                      <h1>Welcome To AgriFund</h1>
                                      <p>We are happy to to help you embark on your path to financial success. But first we would love to hear more about your farm!</p>
                                    </div>
                                </div>
                            <div class="carousel-item">
                                <div class="carousel-caption ">
                                </div>
                                <h1 class="card-title">Tell me about your farm</h1>
                                <div class="card">
                                      <h2>Plot & Farm</h2>
                                      <div class="form-input"> 
                                        <label for="plot">Where is your farm located?</label>
                                        <input formControlName="plot" class="form-control" id="plotInput" />
                                    </div>
                                    <div class="form-input"> 
                                        <label for="plot">Where is your farm located?</label>
                                        <input formControlName="plot" class="form-control" id="plotInput" />
                                    </div>
                            </div>
                    
                            </div>
                        </div>           
                    </div>     
                <div class="actions">
                    <div class="justify-start">
                        <button class="carousel-control-prev" type="button" data-bs-target="#tellMeCarousel"
                            data-bs-slide="prev">
                            <fa-icon icon="arrow-left"></fa-icon>
                            <span class="visually-visible">Prev</span>
                        </button>
                    </div>
                    <div class="justify-end ">
                        <button class="carousel-control-next" type="button" data-bs-target="#tellMeCarousel"
                            data-bs-slide="next">
                            <span class="visually-visible">Next</span> <fa-icon class = "arrow-right"  icon="arrow-right" ></fa-icon>     
                        </button>               
                    </div> 
                </div>
                <div id="tellMeCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#tellMeCarousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#tellMeCarousel" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    
                    </div>
                </div>
            </div>
            </div>

    </div>

