
<div class="row page-body ">
    <div class="col-12">
        <app-navbar></app-navbar>
    </div>
    <div class="mobile-header">
    </div>
    <div class="justify-center">
            <div class="container mobile hidden">
                <!-- <div class="page-heading">
                    <h1>Get Started</h1>
                </div> -->
                <div id="getStartedCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="form-container ">
                        
                        <div class="carousel-inner">
                            <div class="carousel-item active ">
                                <div class="carousel-caption ">
                                </div>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <img class ="carousel-images" src="assets/images/get-started/f_carrot.png" alt="...">
                                      <h5 class="card-title">Card title</h5>
                                      <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </div>
                                  </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-caption">
                                </div>
                                <img class ="carousel-images" src="assets/images/get-started/icons7.jpg" alt="...">
                                <h2>Keep Track of your <br>Bookkeeping Records</h2>
                                <p>We understand the challenges farmers face, keeping track of books can be complicated.Our app
                                    simplifies financial complexities by allowing you to add, view, edit and delete financial records .
                                </p>
                            </div>
                                <div class="actions justify-center">
                                    <button type="submit" class="btn colourful-btn pt-6" [routerLink]="['/register']"> Register
                                        Now</button>
                                </div>
                            </div>
                        </div>           
                    </div>     
                <div class="actions">
                    <div class="justify-start">
                        <button class="carousel-control-prev" type="button" data-bs-target="#getStartedCarousel"
                            data-bs-slide="prev">
                            <fa-icon icon="arrow-left"></fa-icon>
                            <span class="visually-visible">Prev</span>
                        </button>
                    </div>
                    <div class="justify-end ">
                        <button class="carousel-control-next" type="button" data-bs-target="#getStartedCarousel"
                            data-bs-slide="next">
                            <span class="visually-visible">Next</span> <fa-icon class = "arrow-right"  icon="arrow-right" ></fa-icon>     
                        </button>               
                    </div> 
                </div>
                <div id="getStartedCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#getStartedCarousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#getStartedCarousel" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    
                    </div>
                </div>
            </div>
            </div>

    </div>

