/* <!-- Author: Mamotsoko Maphutha 07/08/2023  --> */
.page-body {
 
    background-image: url("src/assets/images/background/orange-trees.webp");
}

.carousel-inner {
    width: auto !important;
    height: 500px !important;
    background-color: var(--white-2);
    align-items: center;
    justify-content: center;
    border-color: var(--primary-colour) !important;
    
  
}
.carousel-images {
    height: 50% !important;
    width: 50% !important;
    border-radius: 100%;
    margin-bottom: -10%;
}
.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: var(--primary-colour) !important;
}
.carousel-control-next {
    display: flex;
    position: relative;
    color: var(--dark);
    gap: 4px;
   
}

.carousel-control-prev {
    display: flex;
    position: relative;
    color: var(--dark);
    gap: 4px;
 
}
.carousel-indicators {
    width: auto !important;
    height: auto !important;
    padding: 0px !important;
}

fa-icon{
    color: var(--dark);
}

.container {
    padding: 2% !important;
    text-align: center !important;
    justify-content: center !important;
    width: 50% !important;
} 

.form-container{
    padding: 2% !important;
    width: 100% !important;
    border-radius: var(--border-radius);
    border: var(--thin-border) var(--lighter-grey);
}

.card{
    display: flex;
    width: auto !important;
    height: 150% !important;
    padding: 10px;
    flex-direction: column;
    background-color: var(--white-2);
    
}
.card-plot{
height:150% !important;
padding: var(--x-small-s);
justify-content: center;
align-items: center;
border-radius: var(--border-radius);
border: var(--thin-border) var(--lighter-grey);
}
.description{
    height: 65px;
}