<app-navbar></app-navbar>

<div class="row page-body g-0">
    <div class="col-lg-3 g-0 sidebar mobile-hidden">
        <hr>
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-12 col-lg-9 g-0 page-content">
        <div class="page-heading">
            <h1>Bookkeep</h1>
        </div>
        <div class="container bookkeep-activities">
            <div class="overall-actions">
                <div class="report-btn">
                    <button class="btn colourful-btn">
                        <fa-icon icon="file-download"></fa-icon>
                        Generate Report
                    </button>
                </div>
                <div class="date-filter">
                    <div class="form-input">
                        <label for="fromDate" class="form-label">From</label>
                        <input type="date" class="form-control" id="fromDate">
                    </div>
                    <div class="form-input">
                        <label for="toDate" class="form-label">To</label>
                        <input type="date" class="form-control" id="toDate">
                    </div>
                    




                </div>
            </div>
            <div class="card-summary">

            </div>

            <div class="container bookkeep-actions">

            </div>

        </div>

    </div>

</div>