.page-body {
    display: flex;
    width: 100%;
    height: 100%;

    background-image: url("src/assets/images/background/orange-trees.webp");
    /* opacity: 0.7; */
}

.container {
    width: 100%;
}

.sidebar {
    background-color: var(--primary-colour);
}

.actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: var(--normal-s);

    width:100%
}

.justify-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%
}

.justify-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%
}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

.date-filter .form-input {
    flex-direction: row;
    margin: 0px 0px 0px var(--small-s);
}

.form-control {
    margin: 0px 0px 0px var(--small-s);
}

.form-label {
    margin: 0px;
}

fa-icon {
    margin: 0px var(--small-s) 0px 0px;
}

h2 {
    font-family: var(--normal-font);
    font-size: var(--font-large);
}

.row {
    padding: inherit;
}

.card-summary {
    margin-bottom: var(--large-s);
}

.profit-card {
    background-color: var(--primary-colour);
    margin: 0px var(--small-s);
}

.profit-card h2,
.profit-card label {
    color: var(--light);
}

.money-in-card {
    margin: 0px var(--small-s) 0px 0px;
}

.money-out-card {
    margin: 0px 0px 0px var(--small-s);
}

.info{
    display: flex;
    width: 100%;
}

.left, .right{
    width: 100%;
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 576px) {
    .card-summary {
        display: flex;
        justify-content: column;

        margin-bottom: var(--normal-s);
    }

    .profit-card {
        margin: var(--small-s) 0px;
        padding: var(--small-s);
    }

    .money-in-card {
        margin: var(--small-s) var(--small-s) 0px 0px;
        padding: var(--small-s);
    }

    .money-out-card {
        margin: var(--small-s) 0px 0px var(--small-s);
        padding: var(--small-s);
    }

}

@media only screen and (max-width: 576px) {

    .sidebar {
        display: none !important;
    }

    .bookkeep-actions {
        padding: var(--small-s);
    }

    .record-table {
        padding: var(--small-s);
    }

    .input-group .btn{
        border-radius:var(--border-radius);
    }

}