<app-navbar></app-navbar>

<div class="row page-body g-0">
    <div class="col-lg-2 g-0 sidebar mobile-hidden">
        <hr>
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-12 col-lg-10 g-0 page-content">
        <div class="page-heading">
            <h1>Bookkeep</h1>
        </div>
        <div class="container">
            <div class="overall-actions">
                <div class="report-btn">
                    <button class="btn colourful-btn">
                        <span>
                            <fa-icon icon="file-download"></fa-icon>
                            Generate Report
                        </span>

                    </button>
                </div>
                <div class="date-filter">
                    <div class="form-input mobile-hidden">
                        <label for="fromDate" class="form-label">From</label>
                        <input type="date" class="form-control" id="fromDate">
                    </div>
                    <div class="form-input mobile-hidden">
                        <label for="toDate" class="form-label">To</label>
                        <input type="date" class="form-control" id="toDate">
                    </div>

                    <button class="btn icon-btn large-hidden">
                        <fa-icon icon="filter"></fa-icon>
                        Filter by date
                    </button>
                </div>

            </div>
            <div class="row card-summary">
                <div class="col-4 mobile-hidden">
                    <div class="card money-in-card">
                        <label class="card-title"> Total Money In</label>
                        <h2 class="amount">R 1,200.00</h2>
                    </div>
                </div>
                <div class="col-4 mobile-hidden">
                    <div class="card profit-card">
                        <label class="card-title">Profit</label>
                        <h2 class="amount">R 300.00</h2>
                    </div>
                </div>
                <div class="col-4 mobile-hidden">
                    <div class="card money-out-card">
                        <label class="card-title">Total Money Out</label>
                        <h2 class="amount">R 800.00</h2>
                    </div>
                </div>

                <div class="col-12 large-hidden">
                    <div class="card profit-card">
                        <label class="card-title">Profit</label>
                        <h2 class="amount">R 300.00</h2>
                    </div>

                </div>
                <div class="col-6 large-hidden">
                    <div class="card money-in-card">
                        <label class="card-title"> Total Money In</label>
                        <h2 class="amount">R 1,200.00</h2>
                    </div>
                </div>
                <div class="col-6 large-hidden">
                    <div class="card money-out-card">
                        <label class="card-title">Total Money Out</label>
                        <h2 class="amount">R 800.00</h2>
                    </div>
                </div>
            </div>

            <div class="container bookkeep-actions">

                <div class="container record-table">

                    <div *ngFor="50; last as isLast">





                        <hr *ngIf="!isLast">
                    </div>
                </div>




            </div>

        </div>

    </div>

</div>