<div class="row page-body">
    <div class="col-12">
        <app-navbar></app-navbar>
    </div>
    <div class="col-lg-2 sidebar mobile-hidden">
        <hr />
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10 page-content">
        <div class="page-heading">
            <h1>Bookkeep</h1>
        </div>
        <div class="container">
            <div class="actions">
                <div class="justify-start">
                    <button class="btn colourful-btn btn-width">
                        <span class="justify-center">
                            <fa-icon icon="file-download"></fa-icon>
                            Get Report
                        </span>
                    </button>
                </div>
                <div class="date-filter justify-end">
                    <div class="form-input mobile-hidden">
                        <label for="fromDate" class="form-label">From</label>
                        <input type="date" class="form-control" id="fromDate" />
                    </div>
                    <div class="form-input mobile-hidden">
                        <label for="toDate" class="form-label">To</label>
                        <input type="date" class="form-control" id="toDate" />
                    </div>

                    <button class="btn icon-btn large-hidden">
                        <span>
                            <fa-icon icon="filter"></fa-icon>
                            Filter by date
                        </span>
                    </button>
                </div>
            </div>
            <div class="row card-summary single-row mobile-hidden">
                <div class="col-4">
                    <div class="card money-in-card">
                        <label class="card-title"> Total Money In</label>
                        <h2 class="amount">R 1,200.00</h2>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card profit-card">
                        <label class="card-title">Profit</label>
                        <h2 class="amount">R 300.00</h2>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card money-out-card">
                        <label class="card-title">Total Money Out</label>
                        <h2 class="amount">R 800.00</h2>
                    </div>
                </div>
            </div>
            <div class="row card-summary stacked large-hidden">
                <div class="row">
                    <div class="col-12">
                        <div class="card profit-card">
                            <label class="card-title">Profit</label>
                            <h2 class="amount">R 300.00</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card money-in-card">
                            <label class="card-title"> Total Money In</label>
                            <h2 class="amount">R 1,200.00</h2>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card money-out-card">
                            <label class="card-title">Total Money Out</label>
                            <h2 class="amount">R 800.00</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container bookkeep-actions">
                <div class="actions">
                    <div class="justify-start">
                        <button
                            class="btn colourful-btn"
                            [routerLink]="['/bookkeep/create-record']">
                            <span>
                                <fa-icon icon="plus"></fa-icon>
                                Create Record
                            </span>
                        </button>
                    </div>

                    <div class="search justify-end">
                        <div class="input-group justify-end">
                            <input
                                class="form-control searchbar mobile-hidden"
                                type="text"
                                name="search"
                                autocomplete="off" />
                            <button
                                type="button"
                                class="btn colourful-btn search-btn">
                                <fa-icon icon="search"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="container record-table">
                    <table class="table mobile-hidden">
                        <thead>
                            <tr>
                                <th scope="col">Description</th>
                                <th scope="col">Type</th>
                                <th scope="col">Date Added</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Uploaded Proof</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let record of bookkeepRecords">
                            <tr class="record-tr" (click)="viewRecordDetails()">
                                <td scope="row">{{ record.description }}</td>
                                <td>{{ record.category }}</td>
                                <td>22/12/2022</td>
                                <td>{{ record.amount }}</td>
                                <td>No</td>
                                <td>
                                    <div class="action-buttons">
                                        <div class="delete-btn"></div>
                                        <div class="view-btn"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div
                        class="large-hidden"
                        *ngFor="let record of bookkeepRecords; last as isLast">
                        <div class="info" (click)="viewRecordDetails()">
                            <div class="left justify-start">
                                <p class="bold justify-start">
                                    {{ record.description }}
                                </p>
                                <p class="greyed justify-start">22/12/2022</p>
                            </div>
                            <div class="right justify-end">
                                <p class="bold justify-end">
                                    {{ record.amount }}
                                </p>
                                <p class="greyed justify-end">
                                    {{ record.category }}
                                </p>
                            </div>
                        </div>
                        <hr *ngIf="!isLast" />
                    </div>

                    <hr />
                    <nav class="actions justify-center">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
