.profile-heading{
    display: flex;
    align-items: center;
    width:100%;
  }
  
  .heading{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  
  .action{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  .container{
    width: 100%;
  }
  hr {
   
    height: 2px;
    border-color: var(--grey);
    border: 1px solid #ccc;
    margin-bottom: var(--medium-s);
    }