<div class="page-body justify-center">
    <div class="mobile-header"></div>

    <div class="container inner-container">
        <hr />
        <div class="content mobile-hidden">
            <form [formGroup]="assetForm" (ngSubmit)="saveEquipment()">
               <div class="form-group">
                    <label for="assetName">Name of equipment</label>
                    <input formControlName="assetName" class="form-control" id="assetName" />
                  </div>
               <div class="form-group">
                  <label for="assetType">Type of</label>
                   <input formControlName="assetType" class="form-control" id="assetType" />
                     </div>
                     <div class="form-group">
                    <label for="purchasePrice">Purchase Amount</label>
                    <input formControlName="purchasePrice" class="form-control" id="purchasePrice" />
                  </div>
                <div class="form-group">
                    <label for="age">Age in years</label>
                    <input formControlName="age" class="form-control" id="age" />
                  </div>
                <div class="actions">
                    <div class="justify-start">
                        <button class="btn colourful-btn btn-width left-btn" type="submit">
                            Save
                        </button>
                    </div>
                    <div class="justify-end">
                        <button class="btn outline-btn btn-width right-btn">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>