<div id="container">
<div id="carouselExampleDark" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleDark" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleDark" data-slide-to="1"></li>
    
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
      </div>
      <h1>Get Started</h1>
      <img src="https://cdn.discordapp.com/attachments/1118513154914275338/1130803804967817345/icons2.jpg" alt="...">
        <h2>Build A Financial Portfolio.</h2> 
        <p>AgriFund will assist you in providing the necessary information and documents needed to help build a financial portfolio for agricultural financial funding.Take control of your farm’s financial future with AgriFund and embark on a path to financial success.</p>
    </div>
      <div class="carousel-item">
        <div class="carousel-caption">
        </div>
          <h1>Get Started</h1>
          <img src="https://cdn.discordapp.com/attachments/1118513154914275338/1130803804967817345/icons2.jpg" alt="...">
          <h2>Build A Financial Portfolio.</h2> 
          <p>AgriFund will assist you in providing the necessary information and documents needed to help build a financial portfolio for agricultural financial funding.Take control of your farm’s financial future with AgriFund and embark on a path to financial success.</p>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
</div>


