button {

    background: var(--primary-colour);
    
}
img {
    display: block;
    max-height: 300px;
    max-width: 100%;
    padding: 8rem;
    margin-inline: auto;

  }
  .carousel {
    display: block;
    width: 100%;
    background-color: var(--light-grey);
    border-radius: 3px;
    border: var(--container-border 1px solid);


    
  }
  .p{
display: block;
  }
  .h5{
    font-size: var(----normal-s 14px);
    margin-top: 10px 2px;
  }
  