<h1>Get Started</h1>
<div class="container">
  <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption">
        </div>
        <div class="id">
          
          <img src="assets/images/get-started/icons2.jpg" alt="...">
          <h2>Build A Financial <br> Portfolio.</h2>
          <p>AgriFund will assist you in providing the necessary information and documents needed to help build a
            financial portfolio for agricultural financial funding.<br>Take control of your farm’s financial future with
            AgriFund and embark on a path to financial success.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
        </div>
        <img src="assets/images/get-started/icons7.jpg" alt="...">
        <h2>Keep Track of your <br>Bookkeeping Records</h2>
          <p>We understand the challenges farmers face, keeping track of books can be complicated.Our app simplifies financial complexities by allowing you to add, view, edit and delete financial records . </p>
      </div>
    <div class="carousel-item">
      <div class="carousel-caption">
      </div>
      <img src="assets/images/get-started/icons8.jpg" alt="...">
      <h2>View Your Summarized Financial Data</h2>
        <p>With AgriFund, you can easily make sense of complex financial information with visual representation of key financial data in the form of graphs.</p>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
      </div>
      <img src="assets/images/get-started/icons4.jpg" alt="...">
      <h2>View Your Progress To Qualify for Funding</h2>
        <p>Stay up to date about your progress in qualifying for business funding.</p>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
      </div>
      <img src="assets/images/get-started/icons6.jpg" alt="...">
      <h2>Get Feedback From A Finance Agent</h2>
        <p>Get feedback from a Finance Agent on the status of your financial portfolio. </p>
    </div>
    <div class="carousel-item">
      <div class="carousel-caption">
      </div>
      <img src="assets/images/get-started/icons1.jpg" alt="...">
      <h2>Like What You See?</h2>
        <p>Take control of your farm’s financial future with AgriFund and embark on a path to financial success! </p>
       
        <div class="form-group pt-5">
          <button type="submit" class="btn colourful-btn pt-6"routerLink="/register"> Register Now</button>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
    
  </div>

