button {

    background: var(--primary-colour);
    
}
img {
    display: block;
    max-height: 300px;
    max-width: 100%;
    padding: 3rem;
    margin-inline: auto;

  }
  .carousel {
    display: block;
    width: 100%;
    background-color: var(--light-grey);
    
  }
  .p{
display: block;
  }
  