button {

    background: var(--primary-colour);
    
}
img{
    height: 100px;
    width: 100px;
    border-radius: 100px;


  }
  .carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: var(--grey) !important;
}

  .carousel-inner{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 750px;
    height: 600px;
    padding: 24px;
    gap: 24px;
    background-color: var(--light-grey);
    align-items: left;
    justify-items: center;
    border-radius: var(--primary-colour 3px);
    border: var(--container-border 3px solid) 
  }

  .carousel-inner{
    border-top: 100px;
    border-left: 100px;
    border-right: 100px;
    border-bottom: 100px;
    border-color: var( --light);
    border-style: solid;
  }
  .container{
    text-align: center;
  
  }
h2{
  font-size: var(--normal-s 14px);
  }
p {
  margin-bottom: 100%;
} 


  