<app-navbar></app-navbar>
<div class="page-body page-background">
    <!-- sidebar will be hidden on small devices -->
    <app-sidebar class="mobile-hidden"></app-sidebar>

    <!-- portfolio page -->
    <div class="page-content">

        <div class="page-heading">
            <div class="headings">
                <h1>Portfolio</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6" id="left">
                <div class="progress-info" id="info">
                    <app-farmer-portfolio-progressbar></app-farmer-portfolio-progressbar>
                </div>
                <div class="farm-info" id="info">
                    <app-disabledform-farm-info></app-disabledform-farm-info>
                </div>
            </div>
            <div class="col-sm-12 col-md-6" id="right">
                <div class="personal-info" id="info">
                    <app-feature-disabledform-personal-info></app-feature-disabledform-personal-info>
                </div>
                <div class="crop-info" id="info">
                    <app-disabledform-crop-info></app-disabledform-crop-info>
                </div>
            </div>
            <div class="col-12" id="bottom">
                <div class="equipment-info" id="info">
                    <app-equipment-info></app-equipment-info>
                </div>
            </div>
        </div>
    </div>
</div>