/* ------------------------------------------------------------------------------------------------
    AUTHOR: Monique, Kamo
    CREATE DATE: 24 Jul 2023
    UPDATED DATE: 17 Aug 2023 
-------------------------------------------------------------------------------------------------*/

.page-body {
    background-image: url(src/assets/images/background/orange-trees.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Styling for crop information section */
.crop-info {
    margin-top: var(--normal-s);
}

/* Styling for farm information section */
.farm-info {
    margin-top: var(--normal-s);
}
.equipment-info {
    padding-top: var(--normal-s) !important;
}
/* Styling for headings and their alignment */
.headings {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

/* Styling for the left section */
#left {
    padding-right: var(--small-s) !important;
}

/* Styling for the right section */
#right {
    padding-left: var(--small-s) !important;
}

.plot-info {
    padding-top: var(--normal-s) !important;
}

/* Styling for h1 headings */
h1 {
    position: relative;
}

.portfolio-cards>*{
    /* adds space below each portfolio card */
    margin-bottom: var(--normal-s);
}

/* Media query for screens with max width 767px */
@media (max-width: 767px) {
    /* Adjust padding and margins for responsive layout */

    #left {
        padding-right: 0 !important;
    }
    #right {
        padding-left: 0 !important;
    }

    /* Adjust margins for specific sections */
    .crop-info {
        margin-top: var(--normal-s);
    }
    .farm-info {
        margin-bottom: var(--normal-s);
    }
    .equipment-info {
        padding-bottom: var(--normal-s) !important;
    }
    .plot-info {
        padding-top: 0 !important;
    }
    /* Remove padding for specific elements */
    .page-content > * {
        padding: 0px !important;
    }

    /* Adjust padding for h1 headings */
    h1 {
        padding: 4% 2% !important;
    }
    .page-body{
      width: 100%;
      display: flex;
    }
}
