.container-form {
  margin: 30px 60px 100px 60px;
  border: 1px solid #ccc;
  
}

.container {
  margin: 30px 60px 100px 60px;
  border-color: var(--light-grey);
}

.form-control {
  border-color: var(--lighter-grey);
}

.divider {
  width: calc(100% - 120px); /* Subtract the left and right margins from the container width */
  height: 1px;
  background-color: #ccc;
  margin-top: 100px;
  margin-left: 60px;
}


  .file-container {
    border: 1px solid #ccc; /* Add grey borders */
    padding: 10px; /* Add padding to create some space around the content */
    width: 360px; /* Set the desired width for the container */
    background-color: #f9f9f9; 
    border-radius: 3px;
  
  }
  
  .file-container label {
    font-weight: bold; /* Make the label text bold */
  }
  
  .file-container input[type="file"] {
    margin-top: 5px;
  }
  




