<!-- <div class="outer">
<div class="container">
    <form class="form-input" [formGroup]="myForm" disabled>
      <div class="form-group">
        <label>First Name:</label>
        <input type="text" class="form-control" formControlName="firstName">
      </div>
      <div class="form-group">
        <label>Last Name:</label>
        <input type="text" formControlName="lastName">
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" formControlName="email">
      </div>
      <div class="form-group">
        <label>Phone Number:</label>
        <input type="text" formControlName="phoneNumber">
      </div>
    </form>
  </div>
</div>
   -->
   <!-- personal-info-form.component.html -->
<!-- disabledform-personal-info.component.html -->



<div class="container">
  <div class="profile-heading">
    <div class="heading">
      <h3>Your Personal Info</h3>
    </div>
    <div class="action">
      <app-enableform-crop-info (enableFields)="enableFields()" (saveData)="onSaveClicked($event)"></app-enableform-crop-info>
    </div>
  </div>
  <hr>
  <div class="container">
    <form [formGroup]="myForm">
      <div class="form-input">
        <label for="exampleInputEmail1" class="form-label">First Name</label>
        <input type="firstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               formControlName="firstName" [disabled]="isDisabled">
      </div>
      <div class="form-input">
        <label for="exampleInputPassword1" class="form-label">Last Name</label>
        <input type="lastName" class="form-control" id="exampleInputPassword1" formControlName="lastName"
               [disabled]="isDisabled">
      </div>
      <div class="form-input">
        <label for="exampleInputPassword1" class="form-label">Cell Number</label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="phoneNumber"
               [disabled]="isDisabled">
      </div>
      <div class="form-input">
        <label class="form-label" for="document">Proof of ID</label>
        <div class="file-container">
          <label for="farm-label">Upload Document</label>
          <input type="file" id="document" (change)="onFileSelected($event)" [disabled]="isDisabled">
        </div>
      </div>
      <div class="form-input">
        <label for="exampleInputPassword1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputPassword1" formControlName="email"
               [disabled]="isDisabled">
      </div>
    </form>
  </div>
</div>



