<div class="container" id="container">
  <div class="profile-heading">
    <div class="heading">
      <h3>Your Farm Info</h3>
    </div>
    <div class="action">
      <app-enableform-crop-info (enableFields)="enableFields()"
        (saveData)="onSaveClicked($event)"></app-enableform-crop-info>
    </div>
  </div>
  <hr>
  <div class="container">
    <form [formGroup]="myForm">

      <div class="form-input"
        [ngClass]="{'has-success': myForm.controls['farmer'].valid && myForm.controls['farm'].dirty, 'has-error': myForm.controls['farm'].invalid && myForm.controls['farm'].dirty}">
        <label for="farmer" class="form-label">Residential Address</label>
        <input type="text" class="form-control" id="farmer" aria-describedby="farmer" formControlName="farmer"
          [disabled]="isDisabled">
        <small *ngIf="myForm.controls['farmer'].hasError('addressContainsStreet') && myForm.controls['farm'].dirty"
          class="text-danger">Please enter word Street in your address</small>
        <div class="form-text text-danger"
          *ngIf="myForm.controls['farmer'].hasError('required') && myForm.controls['farmer'].dirty" class="text-danger">
          Field is required.</div>
      </div>

      <div class="form-input" [ngClass]="{
                              'has-success':
                                  myForm.controls['farm_name'].valid &&
                                  myForm.controls['farm_name'].dirty,
                              'has-error':
                                  myForm.controls['farm_name'].invalid &&
                                  myForm.controls['farm_name'].dirty
                          }">
        <label for="farm_name" class="form-label">Farm Name</label>
        <input type="text" class="form-control" id="farm_name" formControlName="farm_name" [disabled]="isDisabled" />
        <div class="form-text text-danger" *ngIf="
                                  myForm.controls['farm_name'].hasError('invalidName') &&
                                  myForm.controls['farm_name'].dirty
                              " class="text-danger">
          Farm name should contain only text characters.
        </div>
        <div class="form-text text-danger" *ngIf="
                                  myForm.controls['farm_name'].hasError(
                                      'textWithoutNumbers'
                                  ) && myForm.controls['farm_name'].dirty
                              " class="text-danger">
          Farm name should contain only text characters.
        </div>
        <div class="form-text text-danger" *ngIf="
                                  myForm.controls['farm_name'].hasError('required') &&
                                  myForm.controls['farm_name'].dirty
                              " class="text-danger">
          Farm name required.
        </div>
      </div>

      <div class="form-input"
        [ngClass]="{'has-success': myForm.controls['farm'].valid && myForm.controls['farm'].dirty, 'has-error': myForm.controls['farm'].invalid && myForm.controls['farm'].dirty}">
        <label for="farm" class="form-label">Farm Address</label>
        <input type="text" class="form-control" id="farm" aria-describedby="farm" formControlName="farm"
          [disabled]="isDisabled">
        <small *ngIf="myForm.controls['farm'].hasError('addressContainsStreet') && myForm.controls['farm'].dirty"
          class="text-danger">Please enter word Street in your address</small>
        <div class="form-text text-danger"
          *ngIf="myForm.controls['farm'].hasError('required') && myForm.controls['farm'].dirty" class="text-danger">
          Field is required.</div>
      </div>
      <!-- <div class="form-input" [ngClass]="{'has-success': myForm.controls['size'].valid && myForm.controls['size'].dirty, 'has-error': myForm.controls['size'].invalid && myForm.controls['size'].dirty}">
        <label for="size" class="form-label">Size of farm (ha)</label>
        <input type="text" class="form-control" id="size" formControlName="size"
               [disabled]="isDisabled">
               <div class="form-text text-danger" *ngIf="myForm.controls['size'].hasError('invalidPositiveNumber') && myForm.controls['size'].dirty" class="text-danger">Please enter a positive number.</div>
               <div class="form-text text-danger" *ngIf="myForm.controls['size'].hasError('required') && myForm.controls['size'].dirty" class="text-danger">Field is required.</div>

      </div> -->
      <div class="form-input"
        [ngClass]="{'has-success': myForm.controls['years'].valid && myForm.controls['years'].dirty, 'has-error': myForm.controls['years'].invalid && myForm.controls['years'].dirty}">
        <label for="years" class="form-label">Years Actively Farming</label>
        <input type="text" class="form-control" id="years" formControlName="years" [disabled]="isDisabled">
        <div class="form-text text-danger"
          *ngIf="myForm.controls['years'].hasError('isNumeric') && myForm.controls['years'].dirty" class="text-danger">
          Please enter nmubers only.</div>
        <div class="form-text text-danger"
          *ngIf="myForm.controls['years'].hasError('required') && myForm.controls['years'].dirty" class="text-danger">
          Field is required.</div>
      </div>

      <div class="form-input"
        [ngClass]="{'has-success': myForm.controls['num_employee'].valid && myForm.controls['num_employee'].dirty, 'has-error': myForm.controls['num_employee'].invalid && myForm.controls['num_employee'].dirty}">
        <label for="num_employee" class="form-label">Number of people that help you farm</label>
        <input type="text" class="form-control" id="num_employee" formControlName="num_employee"
          [disabled]="isDisabled">
        <div class="form-text text-danger"
          *ngIf="myForm.controls['num_employee'].hasError('isNumeric') && myForm.controls['num_employee'].dirty"
          class="text-danger">Please enter numbers only.</div>
        <div class="form-text text-danger"
          *ngIf="myForm.controls['num_employee'].hasError('required') && myForm.controls['num_employee'].dirty"
          class="text-danger">Field is required.</div>
      </div>

      <div class="form-input"
        [ngClass]="{'has-success': myForm.controls['reasonForFunding'].valid && myForm.controls['reasonForFunding'].dirty, 'has-error': myForm.controls['reasonForFunding'].invalid && myForm.controls['reasonForFunding'].dirty}">
        <label for="reasonForFunding" class="form-label">Reason for needing funding:</label>
        <input type="text" class="form-control" id="reasonForFunding" formControlName="reasonForFunding"
          [disabled]="isDisabled">
        <div class="form-text text-danger"
          *ngIf="myForm.controls['reasonForFunding'].hasError('required') && myForm.controls['reasonForFunding'].dirty"
          class="text-danger">Field is required.</div>
      </div>
      <div class="button-container">
        <button *ngIf="!isDisabled" (click)="onSaveClicked(myForm.value)" [disabled]="!myForm.valid"
          class="btn colourful-btn btn-width">Save</button>
        <button *ngIf="!isDisabled" (click)="onCancelClicked()" class="btn outline-btn btn-width">Cancel</button>
      </div>

    </form>
  </div>
</div>