<nav class="navbar sticky">

  <div class="nav-left">
    <h1 class="nav-brand">
      <span>Agri</span>
        <img src="agrifund/src/assets/images/logo/f_carrot.png" class="icon-img" alt="F">
      <span>und</span>
    </h1>
  </div>

  <!--before login-->
  <div class="nav-right"> 
    <button type="button" class="btn colourful-btn">Login</button>
    <button type="button" class="btn outline-btn">Register</button>
  </div>


<!--after login-->
  <!-- <div class="nav-right"> 
    <span class="name-greeting">
      <p>Hello,</p> <pre>&#x20;</pre>
      <a>FirstName</a>
    </span>
    <button type="button" class="btn outline-btn">Logout</button>
  </div> -->

</nav>