nav {
    display: flex;
    vertical-align: middle !important;

    width: 100%;
    height: 55px !important;

    margin:0px;
    padding: 0px ;

    overflow: hidden;
    background-color: var(--light);
}

.navbar{
    display: flex;
    
}

.nav-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 100%;

    padding:var(--small-s) var(--normal-s);

    background-color: var(--primary-colour);
}

.nav-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 100%;

    padding:var(--small-s) var(--normal-s);
}

.nav-brand{
    display: flex;


    vertical-align: center !important;
}

img{
    color: var(--secondary-colour) !important;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

p, h1{
    margin:0px !important;
}

h1{ 
    color: var(--light) !important;
}

span{
    display: flex !important;
    vertical-align: middle;
    justify-content: center;

}

.name-greeting{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin: 0px var(--small-s);
}

/* BUTTONS */
.nav-right .btn{
    width: 100px !important;

    margin: 0px var(--small-s);
}

.icon-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px var(--small-s);
}




@media only screen and  (max-width: 768px) {

    nav{
        height: 45px !important;
        background-color: var(--primary-colour);
    }
    
}