<nav class="navbar sticky">

  <!--before login-->
  <div class="nav-left">
    <button class="btn icon-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
      <fa-icon icon="bars"></fa-icon>
    </button>

    <h1 class="nav-brand">
      <span>Agri</span>
      <img src="agrifund/src/assets/images/logo/f_carrot.png" class="icon-img" alt="F">
      <span>und</span>
    </h1>
  </div>


  <div class="nav-right">
    <button type="button" class="btn colourful-btn">Login</button>
    <button type="button" class="btn outline-btn">Register</button>
  </div>


  <!--after login-->
  <!-- <div class="nav-right"> 
    <span class="name-greeting">
      <p>Hello,</p> <pre>&#x20;</pre>
      <a>FirstName</a>
    </span>
    <button type="button" class="btn outline-btn">Logout</button>
  </div> -->

</nav>


<div class="offcanvas offcanvas-start" data-bs-scroll="false" data-bs-backdrop="true" id="left-sidebar" tabindex="-1">

  <h1 class="nav-brand">
    <span>Agri</span>
    <img src="agrifund/src/assets/images/logo/f_carrot.png" class="icon-img" alt="F">
    <span>und</span>
  </h1>

  <div class="offcanvas-header pe-6">
    <h1 class="offcanvas-title">
      <span class="colour">Fashion</span>
      <span class="white">Hut</span>
    </h1>
    <button class="btn icon-btn" type="button" data-bs-dismiss="offcanvas">
      <!-- <fa-icon [icon]='times'></fa-icon>  -->
    </button>
  </div>








  <!-- before login -->
  


  <!-- after login -->



</div>