

<div class="container">
    <div class="profile-heading">
      <div class="heading">
        <h3>Your Crop Info</h3>
      </div>
      <div class="action">
<app-enableform-crop-info (enableFields)="enableFields()" (saveData)="onSaveClicked($event)"></app-enableform-crop-info>
   </div>
    </div>
   <hr>
   <div class="sub-container">
  <form [formGroup]="myForm" [attr.disabled]="isDisabled ? 'disabled' : null">
    <div class="form-input">
        <label for="seasonFarm" class="form-label">I usually farm during:</label>
        <select id="seasonFarm" class="form-control" formControlName="seasonFarm">
          <option value="Spring">Spring</option>
          <option value="Summer">Summer</option>
          <option value="Fall">Fall</option>
          <option value="Winter">Winter</option>
        </select>

      </div>
      <div class="form-input">
        <label for="name" class="form-label">I farm with these crops:</label>
        <input type="name" class="form-control" formControlName="name" [attr.disabled]="isDisabled ? 'disabled' : null">
        <small *ngIf="myForm.controls['name'].hasError('invalidName') && myForm.controls['name'].dirty" class="text-danger">Invalid format.</small>
        <small *ngIf="myForm.controls['name'].hasError('required') && myForm.controls['name'].dirty" class="text-danger">Field is required.</small>
      </div>
      <div class="form-input">
        <label for="seedsAmount" class="form-label">I usually spend this amount on seeds per kg:</label>
        <input type="text" class="form-control" formControlName="seedsAmount" [attr.disabled]="isDisabled ? 'disabled' : null">
      </div>
      <button *ngIf="!isDisabled" (click)="onSaveClicked(myForm.value)" class="btn colourful-btn">Save</button>
      <button *ngIf="!isDisabled" (click)="onCancelClicked()" class="btn colourful-btn">Cancel</button>

     
  </form>
</div>
    </div>
   
    
