 /* <!-- Author: Mamotsoko Maphutha 13/08/2023  -->  */
 .page-body {

     background-image: url("src/assets/images/background/orange-trees.webp");
     flex-direction: column;
 }

 .page-heading h1 {
     /* centers page heading text */
     text-align: center;
     /* changes the page headings to dark colour */
     color: var(--dark);
 }
.equipment-container{
    display: flex;
    gap: 2% !important;
}
.wide-select{
    width: 190% !important;
}
.equip-container{
   display: flex;
    gap: 2% !important;  
}
 /* makes the containers stretch to the full width available in their parent containers */
 .justify-center,
 .carousel-item>* {
     width: 100%;
 }

 .justify-center{
    display: flex;
    align-items: center;
    max-height: 100%;
 }

 .left,
 .right {
     width: 100%;
     display: flex;
     flex-direction: column;
 }

 h2 {
     justify-content: center;
 }


 .justify-center {
     /* makes everything display underneath each other*/
     flex-direction: column;
 }

 p {
     /* aligns items text to the center */
     text-align: center;
 }


 /*sets the height of the form control on farm form */
 #funding_reason {
     height: 50px !important;
     resize: vertical;
 }

 /* .button-group {
     margin-left: 5px; */
     /* Adjust the margin as needed */
     /* margin-top: -35px;
 } */

 /* .view-button,
 .replace-button {
     margin-right: 5px; */
     /* Adjust the margin between buttons */
     /* padding: 0px 20px;
     background-color: var(--primary-colour);
     color: #fff;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     width: 20% !important;
 } */

 .view-button:hover,
 .replace-button:hover {
     background-color: var(--primary-colour);
 }
 .document-upload {
    margin-top: 1%;
}
.doc-header > * {
    padding-right: var(--small-s);
    margin-bottom: 0px !important;
}
.file{
    display: flex;
    width: 100% !important;
    gap: 2%;
}
.proof{
    margin-top: 2% !important;
}

 /*---------------------------------
    Media Query for Mobile Devices
----------------------------------*/
 @media (min-width: 300px) and (max-width:428px) {

     .page-body {
         /* removes the image from the background */
         background-image: none;


     }

     .page-background::before {
         /* removes the dark filter overlay from the background */
         display: none;
     }

     .page-content {
         /* removes padding */
         padding: 0px !important;
     }

     .mobile-header {
         background-image: url("src/assets/images/background/orange-trees.webp");

     }

 }

 /*---------------------------------
    Media Query for tablets/IPad
----------------------------------*/
 @media (min-width: 481px) and (max-width: 767px) {}

 /*-------------------------------------------------
    Media Query for tablets/IPad in landscape mode
--------------------------------------------------*/
 @media (min-width: 768px) and (max-width: 1024px) {}

 /*--------------------------------------
    Media Query for laptops & desktops
----------------------------------------*/
 @media (min-width: 1025px) and (max-width: 1280px) {}

 /*--------------------------------
    Media Query for large screens
----------------------------------*/
 @media (min-width: 1281px) {}