<!-- Author: Mamotsoko Maphutha 13/08/2023   -->
<div class="row page-body page-background">
  <div class="mobile-header"></div>
  <div class="justify-center page-content">


    <div class="form-container container outer-container">
      <div *ngIf="activeSlideId > 1"
      class="page-heading">
        <h1>Tell Me About Your Farm</h1>
      </div>

      <ngb-carousel class="container inner-container" #carousel="ngbCarousel" [activeId]="'slide1'">
        <ng-template ngbSlide id="slide1">
          <!-- <div class="container"> -->

          <div class="justify-center">
            <img class="carousel-image" src="assets/images/logo/f_carrot.png" alt="...">
            <h1>Welcome To AgriFund</h1>
            <p>We are happy to help you embark on your path to financial success.
              <br>
              <br> But first we would love to hear more about your farm!
            </p>
          </div>

          <!-- </div> -->
        </ng-template>

        <ng-template ngbSlide id="slide2">
          <div class="justify-center">




            <h2 class="justify-center">Farm</h2>

            <div class="container inner-container">
              <form [formGroup]="farmForm">
                <div class="form-group">
                  <label for="address">Where do you live?</label> <br>
                  Please enter your residential address. Might not be te same as your farm address.
                  <input formControlName="address" class="form-control" id="addressInfa-pull-left" />
                </div>
                <div class="form-group">
                  <label for="farm_name">What is the name of your farm?</label>
                  <input formControlName="farm_name" class="form-control" id="farm_nameInfa-pull-left" />
                </div>
                <div class="form-group">
                  <label for="farm_address">Where is your farm located?</label>
                  <input formControlName="farm_address" class="form-control" id="farm_addressInfa-pull-left" />
                </div>
                <div class="form-group">
                  <label for="years_active">How many years have you been actively farming?</label>
                  <input formControlName="years_active" class="form-control" id="years_active" />
                </div>
                <div class="form-group">
                  <label for="num_employee">How many people help you with your farming?</label>
                  <input formControlName="num_employee" class="form-control" id="num_employee" />
                </div>
                <div class="form-group">
                  <label for="funding_reason">Why do you need funding for your farming activities?</label>
                  <input formControlName="funding_reason" class="form-control" id="funding_reason" />
                </div>
              </form>
            </div>

          </div>

        </ng-template>
        <ng-template id="slide3" ngbSlide>
          <div class="justify-center">

            <div class="justify-center">
              <h2>Plot</h2>
              <div class="container inner-container">
                <form [formGroup]="plotForm">
                  <div class="form-group">
                    <label for="plot_address">Where is your farm located?</label>
                    <input formControlName="plot_address" class="form-control description" id="plot_addressIn">
                  </div>
                  <div class="form-group">
                    <label for="size">What is the size of your farm in hectares (ha)?</label>
                    <select id="size" class="form-control" formControlName="size">
                      <option value="size">8 to 10 hectares</option>
                      <option value="size">11 to 14 hectares</option>
                      <option value="size">15 to 18 hectares</option>
                      <option value="size">19 to 22 hectares</option>
                    </select>
                  </div>
                  <label for="date">When did you start farming on this land?</label>
                  <input formControlName="date" type="date" class="form-control" id="date" />
                </form>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide id="slide4">
          <div class="justify-center">

            <div class="justify-center">
              <h2>Crops</h2>
              <div class="container inner-container">
                <form [formGroup]="cropForm">
                  <div class="form-group">
                    <label for="seasonFarm">What season do you usually farm in?</label>
                    <select id="seasonFarm" class="form-control" formControlName="seasonFarm">
                      <option value="Spring">Spring</option>
                      <option value="Summer">Summer</option>
                      <option value="Fall">Fall</option>
                      <option value="Winter">Winter</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="cropType">What crops do you farm?</label>
                    <select id="cropType" class="form-control" formControlName="cropType">
                      <option value="Corn">Corn</option>
                      <option value="Maize">Maize</option>
                      <option value="Fibre Crops">Fibre Crops</option>
                      <option value="Wheat">Wheat</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="type">What is the type of your crop?</label>
                    <select id="type" class="form-control" formControlName="type">
                      <option value="Vegetables">Vegetables</option>
                      <option value="Fruits">Fruits</option>
                    </select>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </ng-template>
        <ng-template ngbSlide id="slide5">
          <div class="justify-center">

            <div class="justify-center">
              <h2>Equipment</h2>
              <h2>What type of tools do you use on your farm?</h2>
              <div class="add-icon-container justify-end">
                <button class="btn icon-btn btn" type="button" [routerLink]="['/equipment-create']">
                  <fa-icon icon="plus"></fa-icon>Add another
                </button>
              </div>
              <div class="container inner-container">
                <form [formGroup]="assetForm">
                  <div class = "equipment-container">
                  <div class="form-group">
                    <label for="equipmentName">Name of equipment</label>
                    <input formControlName="equipmentName" class="form-control" id="equipmentNameInfa-pull-left" />
                  </div>
                    <div class="form-group">
                  <label for="equipmentType">Type of</label>
                    <select id="equipmentType" class="form-control wide-select" formControlName="equipmentType">
                      <option value="tractor">Tractor</option>
                      <option value="plow">Plow</option>
                      <option value="seedDrill">Seed Drill</option>
                      <option value="cultivator">Cultivator</option>
                    </select>
                     </div>
                  </div>
                  <div class = "equip-container">
                  <div class="form-group">
                    <label for="age">Age in years</label>
                    <input formControlName="age" class="form-control" id="age" />
                  </div>

                  <div class="form-group">
                    <label for="purchase_Amount">Purchase Amount</label>
                    <input formControlName="purchase_Amount" class="form-control" id="purchase_AmountInfa-pull-left" />
                  </div>
                </div>
                   <div class="form-group">
                     <label for="proof" class="proof">Proof of Ownership</label>
                  <div class="document-upload">
                <div class="doc-header justify-start">
                    <label for="recordProof">Upload Document </label>
                    <div class="form-text">PDF, PNG, JPG</div>
                </div>
                <hr/>
                <div class="file">
                <input formControlName="recordProof" class="form-control" type="file" id="recordProof" />
                <button 
                    class="btn colourful-btn ">
                    View
                </button>
                <button 
                    class="btn outline-btn" >
                    Replace
                </button>
                </div>
            </div>
            </div>
   <hr/>
                </form>
              </div>
            </div>

          </div>
        </ng-template>
      </ngb-carousel>
      <div class="actions">
        <div class="justify-start">
          <button class="carousel-control-prev btn icon-btn-dark" type="button" (click)="goToPreviousSlide()">
            <fa-icon icon="arrow-left"></fa-icon>
            Prev
          </button>
        </div>
        <div class="carousel slide justify-center">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#aboutFarmCarousel" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="##aboutFarmCarousel" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="##aboutFarmCarousel" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#aboutFarmCarousel" data-bs-slide-to="4"
              aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#aboutFarmCarousel" data-bs-slide-to="5"
              aria-label="Slide 6"></button>
          </div>
        </div>
        <div class="justify-end">
          <!-- *ngIf="slide !== last" -->
          <button class="carousel-control-next btn icon-btn-dark" type="submit" (click)="goToNextSlide()" [disabled]="activeSlideId === totalSlides">
            Next
            <fa-icon class="arrow-right" icon="arrow-right"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>