/* <!-- Author: Mamotsoko Maphutha 13/08/2023  --> */
.page-body {
 
    background-image: url("src/assets/images/background/orange-trees.webp");
}

/* Style for the containers */
 .container {
    height: 100% !important;
    justify-content: center;
    align-items: center;
    padding: 3% !important;
    width: 450px !important;
  }
  h2{
    margin-bottom: -0% !important;
    justify-content: center;
  }
.outer-container{

    justify-content: center;
    align-items: center;
    width: 50% !important;
    padding: 1% !important;
}
.inner-container{
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    border: var(--thin-border) var(--lighter-grey);
    padding: 1% !important;
    width: 100% !important;
    

}

  /* Style for the carousel images */
  .carousel-image{
    margin-bottom: 20px; 
    max-width: 10% !important;
    height: 10% !important;
    border-radius: 100%;
  }
  

  .page-heading{
    margin-bottom: -5% !important;
    padding: 10% !important;
    justify-content: center;
    align-items: center;
    color: var(--dark);
}
  /* Center the carousel items vertically */
  .carousel-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px !important;

  }
 
/* Style for the carousel indicators */
 .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    color: black; 
    background-color: var(--primary-color)!important;
} 

/*---------------------------------
    Media Query for Mobile Devices
----------------------------------*/
@media (min-width: 300px) and (max-width:428px) {

    .page-body {
        /* removes the image from the background */
        background-image: none;
    }

    .page-background::before {
        /* removes the dark filter overlay from the background */
        display: none;
    }

    .page-content {
        /* removes padding */
        padding: 0px !important;
    }

    .mobile-header {
        background-image: url("src/assets/images/background/orange-trees.webp");
    }

}
/*---------------------------------
    Media Query for tablets/IPad
----------------------------------*/
@media (min-width: 481px) and (max-width: 767px) {}

/*-------------------------------------------------
    Media Query for tablets/IPad in landscape mode
--------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {}

/*--------------------------------------
    Media Query for laptops & desktops
----------------------------------------*/
@media (min-width: 1025px) and (max-width: 1280px) {}

/*--------------------------------
    Media Query for large screens
----------------------------------*/
@media (min-width: 1281px) {}

/* @media only screen and (max-width: 575px) {
    .page-body{
    
     background-image: none; 
     width: 100%;
     height: 100%;
     text-align: center;
     justify-content: center;
    }


    .container{
        text-align: center !important;
        justify-content: center !important;
        width: 100% !important;
        height: 100% !important;
       
    } */
/* .mobile-header{
    background-image: url("src/assets/images/background/orange-trees.webp");
    background-size:contain;
    background-repeat: no-repeat;
    height: 20%;
    padding: var(--medium-large-s) !important;
        }
        .carousel-item{
            align-items: center;
            justify-content: center;
            height: 550px !important;
            width: 100% !important;
            padding: var( --normal-s) !important;
          
        }

    } */
