<!-- Author: Mamotsoko Maphutha 13/08/2023   -->
<div class="row page-body page-background">
  <div class="mobile-header"></div>
  <div class="justify-center page-content">


    <div class="form-container container outer-container">
      <div *ngIf="activeSlideId > 1"
      class="page-heading">
        <h1>Tell Me About Your Farm</h1>
      </div>

      <ngb-carousel class="container inner-container" #carousel="ngbCarousel" [activeId]="'slide1'">
        <ng-template ngbSlide id="slide1">
          <div class="justify-center">
            <img class="carousel-image" src="assets/images/logo/f_carrot.png" alt="...">
            <h1>Welcome To AgriFund</h1>
            <p>We are happy to help you embark on your path to financial success.
              <br>
              <br> But first we would love to hear more about your farm!
            </p>
          </div>
        </ng-template>

        <ng-template ngbSlide id="slide2">
          <div class="justify-center">
            <h2 class="justify-center">Farm</h2>
            <div class="container inner-container">
              <form [formGroup]="farmForm">
                <div class="form-group">
                  <label for="address">Where do you live?</label> <br>
                  Please enter your residential address. Might not be te same as your farm address.
                  <input formControlName="address" class="form-control" id="address" />
                </div>
                <div class="form-group">
                  <label for="farmName">What is the name of your farm?</label>
                  <input formControlName="farmName" class="form-control" id="farmName" />
                </div>
                <div class="form-group">
                  <label for="farmAddress">Where is your farm located?</label>
                  <input formControlName="farmAddress" class="form-control" id="farmAddress" />
                </div>
                <div class="form-group">
                  <label for="yearsActive">How many years have you been actively farming?</label>
                  <input formControlName="yearsActive" class="form-control" id="yearsActive" />
                </div>
                <div class="form-group">
                  <label for="numEmployee">How many people help you with your farming?</label>
                  <input formControlName="numEmployee" class="form-control" id="numEmployee" />
                </div>
                <div class="form-group">
                  <label for="fundingReason">Why do you need funding for your farming activities?</label>
                  <input formControlName="fundingReason" class="form-control" id="fundingReason" />
                </div>
              </form>
            </div>

          </div>

        </ng-template>
        <ng-template id="slide3" ngbSlide>
          <div class="justify-center">

            <div class="justify-center">
              <h2>Plot</h2>
              <div class="container inner-container">
                <form [formGroup]="plotForm">
                  <div class="form-group">
                    <label for="plotAddress">Where is your farm located?</label>
                    <input formControlName="plotAddress" class="form-control description" id="plotAddress">
                  </div>
                  <div class="form-group">
                    <label for="plotSize">What is the size of your farm in hectares (ha)?</label>
                    <select id="plotSize" class="form-control" formControlName="plotSize">
                      <option value="plotSize">8 to 10 hectares</option>
                      <option value="plotSize">11 to 14 hectares</option>
                      <option value="plotSize">15 to 18 hectares</option>
                      <option value="plotSize">19 to 22 hectares</option>
                    </select>
                  </div>
                  <label for="dateOfOwnership">When did you start farming on this land?</label>
                  <input formControlName="dateOfOwnership" type="date" class="form-control" id="dateOfOwnership" />
                </form>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide id="slide4">
          <div class="justify-center">

            <div class="justify-center">
              <h2>Crops</h2>
              <div class="container inner-container">
                <form [formGroup]="cropForm">
                  <div class="form-group">
                    <label for="season">What season do you usually farm in?</label>
                    <select id="season" class="form-control" formControlName="season">
                      <option value="season">Spring</option>
                      <option value="season">Summer</option>
                      <option value="season">Fall</option>
                      <option value="season">Winter</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="name">What crops do you farm?</label>
                    <select id="name" class="form-control" formControlName="name">
                      <option value="name">Corn</option>
                      <option value="name">Maize</option>
                      <option value="name">Fibre Crops</option>
                      <option value="name">Wheat</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="type">What is the type of your crop?</label>
                    <select id="type" class="form-control" formControlName="type">
                      <option value="type">Vegetables</option>
                      <option value="type">Fruits</option>
                    </select>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide id="slide5">
          <div class="justify-center">

            <div class="justify-center">
              <h2>Equipment</h2>
              <h2>What type of tools do you use on your farm?</h2>
              <div class="add-icon-container justify-end">
                <button class="btn icon-btn btn" type="button" [routerLink]="['/create-asset']">
                  <fa-icon icon="plus"></fa-icon>Add another
                </button>
              </div>
              <div class="container inner-container">
                <form [formGroup]="assetForm" >
                  <div class = "equipment-container">
                  <div class="form-group">
                    <label for="assetName">Name of equipment</label>
                    <input formControlName="assetName" class="form-control" id="assetName" />
                  </div>
                    <div class="form-group">
                  <label for="assetType">Type of</label>
                   <input formControlName="assetType" class="form-control" id="assetType" />
                     </div>
                  </div>
                  <div class = "equip-container">
                  <div class="form-group">
                    <label for="age">Age in years</label>
                    <input formControlName="age" class="form-control" id="age" />
                  </div>
                   <div class="form-group">
                    <label for="purchasePrice">Purchase Amount</label>
                    <input formControlName="purchasePrice" class="form-control" id="purchasePrice" />
                  </div>
                </div>
                   <!-- <div class="form-group">
                     <label for="proof" class="proof">Proof of Ownership</label>
                  <div class="document-upload">
                <div class="doc-header justify-start">
                    <label for="recordProof">Upload Document </label>
                    <div class="form-text">PDF, PNG, JPG</div>
                </div>
                <hr/>
                <div class="file">
                <input formControlName="recordProof" class="form-control" type="file" id="recordProof" />
                <button 
                    class="btn colourful-btn ">
                    View
                </button>  -->
                <!-- <button 
                    class="btn outline-btn" >
                    Replace
                </button>
                </div>
            </div> -->
            <!-- </div> -->
   <hr/>
                </form>
              </div>
            </div>

          </div>
        </ng-template>
      </ngb-carousel>
      <div class="actions">
        <div class="justify-start">
          <button class="carousel-control-prev btn icon-btn-dark" type="button" (click)="goToPreviousSlide()">
            <fa-icon icon="arrow-left"></fa-icon>
            Prev
          </button>
        </div>
        <div class="carousel slide justify-center">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#aboutFarmCarousel" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="##aboutFarmCarousel" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="##aboutFarmCarousel" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#aboutFarmCarousel" data-bs-slide-to="4"
              aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#aboutFarmCarousel" data-bs-slide-to="5"
              aria-label="Slide 6"></button>
          </div>
        </div>
        <div class="justify-end">
          <!-- *ngIf="slide !== last" -->
          <button class="carousel-control-next btn icon-btn-dark" type="submit" (click)="goToNextSlide()">
            Next
            <fa-icon class="arrow-right" icon="arrow-right"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>