/* ------------------------------------------------------------------------------------------------
    AUTHOR: Ntokozo Radebe
    CREATE DATE: 24 Jul 2023
    UPDATED DATE: 8 Aug 2023 
-------------------------------------------------------------------------------------------------*/
.page-body {
    background-image: url('src/assets/images/background/orange-trees.webp');/*added background image to the page body*/
    flex-direction: column;
}

.icon-btn {
    background-color: var(--light);
}
/*--------------------------------
    Media Query for small screens
----------------------------------*/
@media only screen and (max-width: 575px) {
    .mobile-header {
        background-image: url('src/assets/images/background/orange-trees.webp');/*background image*/
    }

    .page-body {
        /* removes the background image from the mobile device */
        background-image: none;
        justify-content: center;/*center items */
    }
    .container {
        /* makes the container take up 100% of the screen height */
        height: 100%;
        border: none;/*remove borders from the container*/
    }
}


/*--------------------------------
    Media Query for large screens
----------------------------------*/
@media (min-width: 1281px) {
    .page-content {
        padding: var(--x-large-s) !important;/* spacing between contents */
    }

    .container {
        width: 35% !important;/* width of container to 35% */
    }
}

