<div class="page-body">
    <div class="container">
        <form [formGroup]="ResetPasswordForm">
            <div class="row">
                <div class="heading">
                    <h1>
                        Forgot Password<button class="icon-btn btn-icon">
                            <fa-icon icon="times"></fa-icon>
                        </button>
                    </h1>
                </div>
                <div class="col-6">
                    <p>Please enter your phone number and we will send you instructions on how to reset your password.</p><br>
                    <div class="form-input">
                        <label for="Cellno">Enter cell number</label><br />
                        <input
                            formControlName="cellNo"
                            class="form-control"
                            id="Cellnoinput" />
                    </div>


                </div>
                <div class="col-6">

                    <img
                    src="https://cdn.dribbble.com/userupload/2901757/file/original-edf26ef32309871add22fb8244590e53.jpeg?resize=1600x1200"
                    alt="" />
                </div>

            </div>
        </form>
    </div>
</div>
