<div class="container">
    <div class="col-4 equipment-field">
        <form>
            <div class="form-input input-group">
                <label for="equipment" class="form-label"></label>
                <input type="text" class="form-control" id="equipment" placeholder="Hand Tools">
                <span class="input-group-text"><fa-icon icon="angle-down"></fa-icon></span>
              </div>
              <div class="form-input input-group">
                <label for="equipment" class="form-label"></label>
                <input type="text" class="form-control" id="equipment" placeholder="Tractor">
                <span class="input-group-text"><fa-icon icon="angle-down"></fa-icon></span>
              </div>
              <div class="form-input input-group">
                <label for="equipment" class="form-label"></label>
                <input type="text" class="form-control" id="equipment" placeholder="Seed Spreader">
                <span class="input-group-text"><fa-icon icon="angle-down"></fa-icon></span>
              </div>
              <div class="form-input input-group">
                <label for="equipment" class="form-label"></label>
                <input type="text" class="form-control" id="equipment" placeholder="Irrigation">
                <span class="input-group-text"><fa-icon icon="angle-down"></fa-icon></span>
              </div>
            </form>
    </div>
</div>
