fa-icon{
    color: var(--grey);
    
}
.form-input input.form-control {
    
border-color: white
    
   
  }

.container{
    display: flex;
}
p{
    font-weight: var(--bold);
    color:var(--grey) ;
    padding-left: var(--normal-s);
}
.year-bought{
    padding-left: var(--normal-s);
    padding-right: var(--normal-s);
}

