

<div class="container record-table">
    <div class="add-icon-container">
        <button class="btn icon-btn btn" type="button">
          <fa-icon icon="plus" (click)="onAddClicked()"></fa-icon>Add another
        </button>
      </div>
    <table class="table mobile-hidden">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Quantity</th>
                <th scope="col">Age(years)</th>
                <th scope="col">Purchase Amount</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody >
            <tr class="record-tr">
                <td scope="row">Wooden Rake</td>
                <td>Hand Tool</td>
                <td>3</td>
                <td>3</td>
                <td>R500</td>
                <td>
                    <div class="action-buttons">
                        <button class="btn colourful-btn btn-width" (click)="onEditClicked()">Edit</button>
                    </div>
                </td>
            </tr>
            
        </tbody>
    </table>


