/* ------------------------------------------------------------------------------------------------
    AUTHOR: Ntokozo Radebe
    CREATE DATE: 24 Jul 2023
    UPDATED DATE: 8 Aug 2023 
-------------------------------------------------------------------------------------------------*/
.page-body {
    background-image: url('src/assets/images/background/barn.webp');/*added background image to the page body*/
    flex-direction: column;
}
.toggle-password {
   
    background-color: var(--primary-colour);
    border-radius: 0%;
    
}
.toggle-password-button{
    
    background-color: var(--primary-colour);
    border-radius: 0%; 
}

.icon-btn {
    background-color: var(--light);
}
/*--------------------------------
    Media Query for small screens
----------------------------------*/
@media only screen and (max-width: 575px) {
    .mobile-header {
        background-image: url('src/assets/images/background/orange-trees.webp');/*background image*/
    }

    .page-body {
     

        justify-content: center;/*center items */
    }
    .container {
        border: none;/*remove borders from the container*/
    }
}
/*--------------------------------
    Media Query for large screens
----------------------------------*/
@media (min-width: 1281px) {
    .page-content {
        padding: var(--x-large-s) !important;/* spacing between contents */
    }

    .container {
        width: 35% !important;/* width of container to 35% */
    }
}
/* CSS Styles for Success and Error States */
.has-success .form-control {
    border-color: green;
}

.has-error .form-control {
    border-color: red;
}

