<div class="page-body justify-center">
    <div class="mobile-header"></div>

    <!-- Page Body with Registration Form -->
    <div class="page-body justify-center">
        <!-- Container for the Reset Password Form -->
        <div class="container form-container">
            <!-- Reset Password Form -->
            <form [formGroup]="ResetPasswordForm">
                <!-- Form Row -->
                <div class="row">
                    <div class="col-sm-12 resetform">
                        <!-- Container Header -->
                        <div class="container-header">
                            <div class="justify-start">
                                <h1>Forgot Password</h1>
                            </div>
                            <div class="justify-end">
                                <!-- Close Button -->
                                <button class="icon-btn btn-icon" [routerLink]="['/login']">
                                    <fa-icon icon="times"></fa-icon>
                                </button>
                            </div>
                        </div>

                        <!-- Instructions for Password Reset -->
                        <p>
                            Please enter your email, and we will send you instructions on how to reset your password.
                        </p>
                        <br />

                        <!-- Email Input -->
                        <div class="form-input">
                            <label for="email">Enter Email Address</label><br />
                            <input formControlName="email" class="form-control between-button" id="emailinput" />
                        </div>

                        <!-- Send Message Button -->
                        <div class="form-group">
                            <button type="submit" [disabled]="!ResetPasswordForm.valid"
                                class="btn actions colourful-btn">
                                Send Message
                            </button>
                        </div>
                    </div>

                    <!-- Image Column (Currently Commented Out) -->
                    <!-- <div class="col-md-6 col-sm-12 mobile-hidden">
                        <img src="assets/images/background/crops.webp" alt="Avatar"/>
                    </div> -->
                </div>
                <!-- End of Form Row -->
            </form>
        </div>
    </div>


</div>