<div class="container">
  <div class="progress-bar">
    <div class="progress" [style.width]="progressPercentage + '%'">{{ progressPercentage }}%</div>
  </div>



   
        
        <div class="checklist-container">
        <form [formGroup]="checklistForm">
            <div class="checklist">
              
              <div class="form-check">
                <label class="form-check-label">
                  <span class="custom-checkbox" (click)="toggleCheckbox('personalInfo')">
                      <fa-icon *ngIf="isCheckboxChecked('personalInfo')" icon="check" class="tick-icon"></fa-icon>
                  </span>
                  Personal Information
              </label>
            </div>
              
              <div class="form-check">
                <label class="form-check-label" formControlName="farmInfo">
                  <span type="checkbox" class="custom-checkbox">
                    <fa-icon *ngIf="checklistForm.get('farmInfo')?.value" icon="check" class="tick-icon"></fa-icon>
                </span>
              Farm Information</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" formControlName="cropInfo">
                <fa-icon *ngIf="checklistForm.get('personalInfo')?.value === true" icon="check" class="tick-icon"></fa-icon>
                <label class="form-check-label">Crop Information</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" formControlName="cropInfo">
                <fa-icon *ngIf="checklistForm.get('personalInfo')?.value === true" icon="check" class="tick-icon"></fa-icon>
                <label class="form-check-label">Equipment Information</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" formControlName="cropInfo">
                <fa-icon *ngIf="checklistForm.get('personalInfo')?.value === true" icon="check" class="tick-icon"></fa-icon>
                <label class="form-check-label">Bookkeeping Data for 6 months </label>
              </div>
            </div>
          </form>
        </div>
          
              
        
        <div class="container-feedback">
            <h2>You can qualify for business funding.</h2>
            <p>Click the  button below to go to  the ABSA website to apply for business funding.</p>
            <div class="actions">
              <a class="btn colourful-btn btn-width" href="https://www.absa.co.za/business/starting-my-business/access-to-finance/sme-contract-financing/" target="_blank">Go to ABSA</a>
            </div>

        </div>
      </div>
      
