.page-body {
  /* align-items: flex-start; */
  background-image: url(src/assets/images/background/orange-trees.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}





.sidebar {
  background-color: var(--primary-colour);
  height: 100%;
  

}


.crop-info {
  margin-top: var(--normal-s);
}

.farm-info {
  margin-top: var(--normal-s);
}

.headings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.sidebar {
  background-color: var(--primary-colour);
}

#left {
  padding-right: var(--small-s) !important;
 

}

#right {

  padding-left: var(--small-s) !important;
  
}

#bottom {

  padding-top: var(--normal-s) !important;
}
h1{
  position: relative;
}



@media (max-width: 767px) {

  #left {
    padding-left: var(--small-s) !important;
    

  }

  #right {

    padding-right: var(--small-s) !important;
  }

  #info {
    
   
  }

  #bottom {
  
    padding: 0 var(--x-small-s) !important;
    }
  .crop-info {
    margin-top: var(--normal-s);
  }
  
  .farm-info {
    margin-bottom: var(--normal-s);
  }
  .equipment-info{
    margin-top: var(--normal-s);
  }

  .page-content > * {
    padding: 0px !important;
}
h1{
  padding: 4% 2% !important;
 
}
  
}
