
<app-navbar></app-navbar>
<div class="row page-body g-0">
<div class="col-lg-2 g-0 sidebar mobile-hidden">
    <hr>
    <app-sidebar></app-sidebar>
</div>




    <!-- portfolio page -->
    <div class="col-md-12 col-lg-10 g-0 page-content">
        <div class="page-heading">
            <div class="headings">
                <h1>Portfolio</h1>
            </div>
        </div>
        
            
                <div class="portfolio">
                        <div class="first-body row ">
                          
                            <div class="left col-lg-6">
                                <app-portfolio-progressbar></app-portfolio-progressbar>
                                <div class="farm-info">
                                    <!-- <app-farm-info-form></app-farm-info-form>  -->
                                </div>

                          
                                

                            </div>

                            <div class="right col-lg-6">
                                <div class=" personal-info">
                                    <app-personal-info-form></app-personal-info-form>
                                </div>
                                <div class="crop-info">
                                    <app-disabledform-crop-info></app-disabledform-crop-info>
                                </div>
                                
                            </div>
                        </div>

                        <div class="bottom col-12">
                             <app-equipment-info></app-equipment-info>
                        </div>
                    </div>
                
            </div>
        </div>
        

    

