/* ------------------------------------------------------------------------------------------------
    AUTHOR: Monique Nagel, Bolebo
    CREATE DATE: 24 Jul 2023
    UPDATED DATE: 17 Aug 2023 
-------------------------------------------------------------------------------------------------*/

.page-body {
    background-image: url("src/assets/images/background/orange-trees.webp");
}

.actions {
    /* removes margins from actions container */
    margin: 0px;
}

button {
    margin-left: var(--small-s);
}

.container {
    /* stacks container content on top of each other */
    flex-direction: column;
}

label{
    /* aligns label text to the center */
    text-align: center;
    /* label will stretch to the full available width in a container */
    width: 100%;
}

.container {
    /* add margin at the top of the  */
    margin-top: var(--large-s) !important;
}


@media (min-width: 300px) and (max-width:428px) {

    .page-body {
        background-image: url("src/assets/images/background/orange-trees.webp");
    }


    .container {
        height: auto;
    }

    .actions {
        padding: 0 !important;
    }


}

@media (min-width: 481px) and (max-width: 767px) {
    .page-body {
        background-image: url("src/assets/images/background/orange-trees.webp");
    }


}

@media (min-width: 768px) and (max-width: 1024px) {
    .page-body {
        /* background-image: url("src/assets/images/background/orange-trees.webp"); */
    }
}