<!-- 
    AUTHOR: Monique Nagel, Bolebo Mohlala
    CREATE DATE: 24 Jul 2023
    UPDATED DATE: 05 Sept 2023 
 -->

<app-navbar></app-navbar>
<div class="page-body page-background">
    <!-- sidebar will be hidden on small devices -->
    <app-sidebar class="mobile-hidden"></app-sidebar>
    <div class="page-content">
        <div class="page-heading">
            <h1>Dashboard</h1>
        </div>

        <div
            *ngIf="statements.length > 0; then hasData; else noData"
            class="outer-container justify-center no-data-card"></div>
    </div>
</div>

<!-- no bookkeeping data card -->
<ng-template #noData>
    <div class="container justify-center no-data-card-inner">
        <h1 class="align-center">Your Dashboard Is Looking A Bit Empty...</h1>
        <h3 class="align-center">Add bookkeeping records to fill it up!</h3>
        <div class="actions justify-center">
            <button
                class="btn colourful-btn"
                type="button"
                [routerLink]="['/bookkeeping']">
                Go to Bookkeeping
            </button>
        </div>
    </div>
</ng-template>

<ng-template #hasData>
    <div class="outer-container">
        <div class="container-header">
            <div class="actions">
                <div class="justify-start"></div>
                <form [formGroup]="dateForm">
                    <div class="form-input year-filter justify-end">
                        <label for="yearInput">For Year: </label>
                        <select
                            class="form-select form-control"
                            (change)="this.onYearChange($event)">
                            <option
                                *ngFor="
                                    let statementYear of statementList;
                                    let firstIndex = first
                                "
                                [value]="statementYear"
                                id="yearInput">
                                {{ statementYear }}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
        </div>

        <div class="outer-container">
            <app-money-card-summary></app-money-card-summary>
            <div class="justify-center">
                <div class="container">
                    <div class="container-header">
                        <label class="card-title"> Money In & Money Out </label>
                    </div>
                    <!-- container for doughnut chart -->
                    <div class="chart-container">
                        <app-income-expenses-donut-graph
                            [totalExpense$]="totalExpense$"
                            [totalIncome$]="
                                totalIncome$
                            "></app-income-expenses-donut-graph>
                    </div>
                </div>
            </div>

            <div class="justify-center">
                <div class="justify-start container">
                    <div class="container-header">
                        <label class="card-title">
                            Five Highest Money Out Values
                        </label>
                    </div>
                </div>
                <div class="justify-end container">
                    <div class="container-header">
                        <label class="card-title">
                            Five Highest Money In Values
                        </label>
                    </div>
                    <!-- put graphs to summarize top 5 most expenses here -->
                </div>
            </div>
        </div>

        <div class="outer-container">
            <!-- <app-farmer-portfolio-progressbar></app-farmer-portfolio-progressbar> -->
        </div>
        <!-- </ng-template> -->
    </div>
</ng-template>
