<!-- 
    AUTHOR: Ntokozo Radebe
    CREATE DATE: 24 Jul 2023
    UPDATED DATE: 17 Aug 2023 
 -->
<div class="page-body page-background justify-center">
    <div class="mobile-header"></div>
    <div class="container form-container">
        <!-- Form for Resetting Password -->
        <form [formGroup]="ForgotPasswordForm" (ngSubmit)=" resetPassword()">
            <!-- Form Row -->
            <div class="row">
                <div class="col-sm-12 forgotform">
                    <!-- Container Header -->
                    <div class="container-header">
                        <div class="justify-start">
                            <h1>Reset Password</h1>
                        </div>
                        <div class="justify-end">
                            <!-- Close Button -->
                            <button class="icon-btn btn-icon" [routerLink]="['/login']">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                    </div>

                    <!-- New Password Input -->
                    <div class="form-input">
                        <label for="password">New Password:</label><br />
                        <input
                            formControlName="Npassword"
                            class="form-control"
                            id="passwordinput" />
                    </div>

                    <!-- Confirm Password Input -->
                    <div class="form-input">
                        <label for="Cpassword">Confirm Password:</label><br />
                        <input
                            formControlName="Cpassword"
                            class="form-control"
                            id="Cpasswordinput" />
                    </div>

                    <!-- Reset Password Button -->
                    <div class="form-group">
                        <button type="submit" class="btn actions colourful-btn">
                            Reset Password
                        </button>
                    </div>
                </div>
            </div>
            <!-- End of Form Row -->
        </form>
    </div>
</div>
