/* ------------------------------------------------------------------------------------------------
    AUTHOR: Monique
    CREATE DATE: 24 Jul 2023
    UPDATED DATE: 22 Aug 2023 
-------------------------------------------------------------------------------------------------*/

.page-body {
    background-image: url("src/assets/images/background/orange-trees.webp");
}

.container {
    width: 100% !important;
}

.date-filter .form-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px 0px var(--small-s) !important;
}

.year-filter label{
    min-width: max-content;
    margin-right: var(--small-s) !important ;
    margin-bottom: 0px !important;
}

.date-input {
    margin: var(--small-s);
}

.search {
    width: 60%;
}

.form-control {
    margin: 0px 0px 0px var(--small-s);
}

.form-label {
    margin: 0px;
}

.info {
    display: flex;
    width: 100%;
}

.left,
.right {
    width: 100%;
    display: flex;
    flex-direction: column;
}
thead{
    /* removes the text highlight select cursor for the table header */
    user-select: none;
}

tbody tr,
.info {
    /* changes the cursor to a pointer to indicate the a single record can be clicked to view details */
    cursor: pointer;
}

.search-btn fa-icon {
    /* removes the space from the search icon in the search button */
    margin: 0px;
}

.actions{
    /* removes the space at the top of the actions container */
    margin-top: 0px !important;
}

select {
    width: 80px;
}

/*---------------------------------
    Media Query for Mobile Devices
----------------------------------*/
@media (min-width: 300px) and (max-width:428px) {

    .money-card-summary {
        /* removes space around the card summary on smaller devices*/
        margin: var(--normal-s) 0px;
    }


    /* adds smaller spacing around record tables */
    .record-table {
        padding: var(--small-s);
    }

    .container,
    .form-container {
        /* automatically set the height of the container on smaller devices */
        height: auto !important;
    }

    .search {
        /* makes the search input expand to the full width of the offcanvas */
        width: 100%;
    }

    .form-control{
        /* removes the margin from form control */
        margin: 0px !important;
    }

    .search input {
        /* adds borders to mobile search bar */
        border-radius: var(--border-radius);
        border: var(--thin-border) var(--lighter-grey) !important;
    }

}

/*---------------------------------
    Media Query for tablets/IPad
----------------------------------*/
@media (min-width: 481px) and (max-width: 767px) {

    .money-card-summary {
        margin: var(--normal-s) 0px;
    }

    .record-table {
        padding: var(--small-s);
    }

    .search {
        width: 100%;
    }

}

/*-------------------------------------------------
    Media Query for tablets/IPad in landscape mode
--------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {

    .money-card-summary {
        margin: var(--normal-s) 0px !important;
    }

    .record-table {
        padding: var(--small-s);
    }

    .input-group .btn {
        border-radius: var(--border-radius);
    }

    .search {
        width: 100%;
    }
}

/*--------------------------------------
    Media Query for laptops & desktops
----------------------------------------*/
@media (min-width: 1025px) and (max-width: 1280px) {

    .money-card-summary {
        margin: var(--large-s) 0px !important;
    }
}

/*--------------------------------
    Media Query for large screens
----------------------------------*/
@media (min-width: 1281px) {

    .money-card-summary {
        margin: var(--large-s) 0px !important;
    }
}


