<!-- 
    AUTHOR: BOLEBO MOHLALA, Monique Nagel
    CREATE DATE: 10 AUG 2023
    UPDATED DATE: 07 Sept 2023 
 -->
<!-- a graph in a container -->
<div class="chart-container">
    <!-- doughnut canvas -->
    <canvas id="expenseBarChart"></canvas>
</div>

<ng-template #hasExpenseData>
    <!-- doughnut canvas -->
    <canvas id="expenseBarChart">{{ expenseBarChart }}</canvas>
</ng-template>

<!-- when a user doesn't have expense data -->
<ng-template #hasNoExpenseData>
    <label>You don't have any money out records.</label>
</ng-template>

<!-- when a user doesn't have expense data -->
<ng-template #ExpenseData>
    <label>You don't have enough money out records.</label>
</ng-template>
