<!-------------------------------------------------------------------------------------------------
DESCRIPTION:
    This component is used to display the total money in, money out and total profit based on the
    date inputs it recieves from the following parent components:
        bookkeep-view-all
        dashboard
        
PARAMETERS:
    totalMoneyIn -> used to display the total money in value
    totalMoneyOut -> used to display the total money out value
    total profit -> used to display the total profit value

AUTHOR: Monique
CREATE DATE: 07 Aug 2023
UPDATED DATE:
--------------------------------------------------------------------------------------------------->

<div class="row card-summary single-row">
    <div class="col-4">
        <div class="card money-in-card">
            <label class="card-title"> Total Money In</label>
            <h2 class="amount">
                {{ moneyInTotal$ | currency: ' R ' : 'symbol' : '.2' }}
            </h2>
        </div>
    </div>
    <div class="col-4">
        <div class="card profit-card">
            <label class="card-title">Profit</label>
            <h2 class="amount">
                {{ profitTotal$ | currency: ' R ' : 'symbol' : '.2' }}
            </h2>
        </div>
    </div>
    <div class="col-4">
        <div class="card money-out-card">
            <label class="card-title">Total Money Out</label>
            <h2 class="amount">
                {{ moneyOutTotal$ | currency: ' R ' : 'symbol' : '.2' }}
            </h2>
        </div>
    </div>
</div>
<div class="row card-summary stacked">
    <div class="row">
        <div class="col-12">
            <div class="card profit-card">
                <label class="card-title">Profit</label>
                <h2 class="amount">
                    {{ profitTotal$ | currency: ' R ' : 'symbol' : '.2' }}
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card money-in-card">
                <label class="card-title"> Total Money In</label>
                <h2 class="amount">
                    {{ moneyInTotal$ | currency: ' R ' : 'symbol' : '.2' }}
                </h2>
            </div>
        </div>
        <div class="col-6">
            <div class="card money-out-card">
                <label class="card-title">Total Money Out</label>
                <h2 class="amount">
                    {{ moneyOutTotal$ | currency: ' R ' : 'symbol' : '.2' }}
                </h2>
            </div>
        </div>
    </div>
</div>
