.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   
    margin-top: 20px;
    border: none;
    background-color: var(--light-grey);
    align-items: center;
    
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 28px 45px;
  }
  
  
  img {
    
    border-radius: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%

    
  }
  .container{
    border-radius: none;
    border: none;
    background-color:none;
  }