<div class="container">
    <h1>Meet the Team</h1>
    <div class="row align-items-start">
        <div class="col-4">
            <div class="card text-center">
                <img src="https://cdn.dribbble.com/userupload/2901757/file/original-edf26ef32309871add22fb8244590e53.jpeg?resize=1600x1200"
                    alt="Avatar" style="width: 250px 233py ">
                <div class="container">
                    <h2>Ntokozo</h2>
                    <p>Human Resources</p>
                    <p>Human Resource is something I love. I am at my happiest working with my fellow human beings and
                        together we can accomplish anything.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <img src="https://cdn.dribbble.com/userupload/2901757/file/original-edf26ef32309871add22fb8244590e53.jpeg?resize=1600x1200"
                    alt="Avatar" style="width: 255px 233py;">
                <div class="container">
                    <h2>Monique</h2>
                    <p>Chief Technical Officer</p>
                    <p>I am passionate about all things tech and I believe we can accomplish extraordinary things with
                        it to help make a better and brighter future.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <img src="https://cdn.dribbble.com/userupload/2901757/file/original-edf26ef32309871add22fb8244590e53.jpeg?resize=1600x1200"
                    alt="Avatar" style="width:255px 233py">
                <div class="container">
                    <h2><b>Bolebo</b></h2>
                    <p>Chief Audit Executive</p>
                    <p>I am very passionate in ensuring assurance and compliance objectives are met at every company
                        aspect. I pride myself in auditing</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <img src="https://cdn.dribbble.com/userupload/2901757/file/original-edf26ef32309871add22fb8244590e53.jpeg?resize=1600x1200"
                    alt="Avatar" style="width:255px 160py">
                <div class="container">
                    <h2><b>Precious</b></h2>
                    <p>Chief Executive Officer</p>
                    <p>I strive ignite passion, foster collaboration, and empower individuals to unleash their full
                        potential.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-center">
                <img src="https://cdn.dribbble.com/userupload/2901757/file/original-edf26ef32309871add22fb8244590e53.jpeg?resize=1600x1200"
                    alt="Avatar" style="width: 255px 160py">
                <div class="container">
                    <h2><b>Kamo</b></h2>
                    <p>Lead Developer</p>
                    <p>I am a young passionate individual who finds great joy in devoting each day to learning and
                        honing the skills in writing source code. </p>
                </div>
            </div>
        </div>
    </div>
</div>