<div class="page-body">
    <div class="container">
        <form [formGroup]="LoginForm">
            <div class="row">
                <div class="container-header">
                    <div class="heading">
                    <h1>Login </h1>
                </div>
                <div class="action">
                        <button class="icon-btn btn-icon" [routerLink]="['']">
                            <fa-icon icon="times"></fa-icon>
                        </button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-input">
                        <label for="id">ID:</label><br />
                        <input
                            formControlName="id"
                            class="form-control"
                            id="idinput" />
                    </div>
                    <div class="form-input">
                        <label for="id">Password</label><br />
                        <input
                            formControlName="password"
                            class="form-control"
                            id="passwordinput" />
                    </div>
                    <div class="form-group pt-1">
                        <button type="submit" class="btn colourful-btn pt-6">
                            Login
                        </button>
                    </div>
                    <a id="forget" class="font-weight-lighter" routerLink="/reset-password">Forgot your password?</a
                    >
                    <div class="pt-4 text muted">
                        Don't have an account?
                        <a id="forget" class="font-weight-lighter" routerLink="/register">Register</a>
                    </div>
                </div>
                <div class="col-6">
                    <img src="assets/images/background/barn.webp"
                    alt="Avatar">
                </div>
            </div>
        </form>
    </div>
</div>
