<div class="mobile-header">
    <img src="assets/images/background/orange-trees.webp" alt="...">
</div>
<div class="page-body justify-center">
    <div class="container form-container">
        <form [formGroup]="LoginForm">
            <div class="row">
                <div class="col-sm-12 loginform">
                    <div class="container-header">
                        <div class="justify-start">
                            <h1>Login</h1>
                        </div>
                        <div class="justify-end">
                            <button
                                class="icon-btn btn-icon"
                                [routerLink]="['']">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                    </div>

                    <div class="form-input">
                        <label for="id">ID:</label><br />
                        <input
                            formControlName="id"
                            class="form-control"
                            id="idinput" />
                    </div>
                    <div class="form-input">
                        <label for="id">Password</label><br />
                        <input
                            formControlName="password"
                            class="form-control"
                            id="passwordinput" />
                    </div>
                    <div class="form-group">
                        <button
                            type="submit"
                            class="btn actions colourful-btn"
                            [routerLink]="['/bookkeep']">
                            <fa-icon icon="user"></fa-icon>
                            Login
                        </button>
                    </div>
                    <a
                        id="forget"
                        class="font-weight-lighter"
                        routerLink="/reset-password"
                        >Forgot your password?</a
                    >
                    <div class="text muted">
                        Don't have an account?
                        <a
                            id="forget"
                            class="font-weight-lighter"
                            routerLink="/register"
                            >Register</a
                        >
                    </div>
                </div>
                <!-- <div class="col-md-6 col-sm-12 mobile-hidden">
                    <img src="assets/images/background/barn.webp"
                    alt="Avatar">
                </div> -->
            </div>
        </form>
    </div>
</div>
