<router-outlet></router-outlet>
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>


<!-- <h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<p>paragraph</p>
<a>link</a>


 <form>
    <div class="form-input">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <div class="form-text">We'll never share your email with anyone else.</div>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="form-input">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> 
    <button type="submit" class="btn colourful-btn">Submit</button>
  </form> -->

  
<!-- <fa-icon icon="bars"></fa-icon>
<fa-icon icon="home"></fa-icon>
<fa-icon icon="chart-pie"></fa-icon>
<fa-icon icon="table"></fa-icon>
<fa-icon icon="address-card"></fa-icon>
<fa-icon icon="coins"></fa-icon>
<fa-icon icon="calculator"></fa-icon>
<fa-icon icon="users"></fa-icon>
<fa-icon icon="user"></fa-icon>
<fa-icon icon="arrow-right"></fa-icon>
<fa-icon icon="arrow-left"></fa-icon>
<fa-icon icon="angle-right"></fa-icon>
<fa-icon icon="angle-left"></fa-icon>
<fa-icon icon="angle-down"></fa-icon>
<fa-icon icon="external-link-alt"></fa-icon>
<fa-icon icon="search"></fa-icon>
<fa-icon icon="calendar"></fa-icon>
<fa-icon icon="filter"></fa-icon>
<fa-icon icon="plus"></fa-icon>
<fa-icon icon="pen"></fa-icon>
<fa-icon icon="trash"></fa-icon>
<fa-icon icon="save"></fa-icon>
<fa-icon icon="upload"></fa-icon>
<fa-icon icon="file-download"></fa-icon> 
<fa-icon icon="times"></fa-icon>
<fa-icon icon="check"></fa-icon> -->
