<router-outlet></router-outlet>
  
<!-- <fa-icon icon="bars"></fa-icon>
<fa-icon icon="home"></fa-icon>
<fa-icon icon="chart-pie"></fa-icon>
<fa-icon icon="table"></fa-icon>
<fa-icon icon="address-card"></fa-icon>
<fa-icon icon="coins"></fa-icon>
<fa-icon icon="calculator"></fa-icon>
<fa-icon icon="users"></fa-icon>
<fa-icon icon="user"></fa-icon>
<fa-icon icon="arrow-right"></fa-icon>
<fa-icon icon="arrow-left"></fa-icon>
<fa-icon icon="angle-right"></fa-icon>
<fa-icon icon="angle-left"></fa-icon>
<fa-icon icon="angle-down"></fa-icon>
<fa-icon icon="external-link-alt"></fa-icon>
<fa-icon icon="search"></fa-icon>
<fa-icon icon="calendar"></fa-icon>
<fa-icon icon="filter"></fa-icon>
<fa-icon icon="plus"></fa-icon>
<fa-icon icon="pen"></fa-icon>
<fa-icon icon="trash"></fa-icon>
<fa-icon icon="save"></fa-icon>
<fa-icon icon="upload"></fa-icon>
<fa-icon icon="file-download"></fa-icon> 
<fa-icon icon="times"></fa-icon>
<fa-icon icon="check"></fa-icon> -->
