.page-body{
justify-content: center;
align-items: center;
display: flex;
background-image: url("src/assets/images/background/barn.webp");

}
.form-container{
    padding: var(--x-larger-s);
    width: 35%;
    

}

.icon-btn{
    background-color: var(--light);
}

@media only screen and (max-width: 575px) {
   
   

    .page-body, .container{
        /* padding: var(--small-s); */
        width: 100%;
    }
  
    
}
