<div class="container">
    <form [formGroup]="RegisterForm">
        <div class="row">
            <div class="col-6">
                <h1>Register</h1>
                <label for="name">Name:</label><br />
                <input
                    formControlName="name"
                    class="form-control"
                    id="NameInput" />

                <label for="surname">Surname:</label><br />
                <input
                    formControlName="surname"
                    class="form-control"
                    id="surnameInput" />

                <label for="surname">ID Number:</label><br />
                <input
                    formControlName="id"
                    class="form-control"
                    id="idnumInput" />
                    <label for="name">Cell Number:</label><br />
                    <input
                        formControlName="cellNo"
                        class="form-control"
                        id="cellNoInput" />
                        <label for="password">Password:</label><br />
                <input
                    formControlName="password"
                    class="form-control"
                    id="passwordInput" />
                    
                    <label for="password">Confirm Password:</label><br />
                    <input
                        formControlName="Cpassword"
                        class="form-control"
                        id="CpasswordInput" />

                        <div class="form-group pt-1">
                            <button type="submit" class="btn btn-primary pt-6" >Register</button>
                        </div>
                        <div class="pt-4 text muted">Have an account? <a id="forget"
                            class="font-weight-lighter">Login</a></div>
            </div>
            <div class="col-6"></div>
        </div>
    </form>
</div>
