
.page-body {
    
   
    background-image: url("src/assets/images/background/barn.webp");
  
  }

.icon-btn{
    background-color: var(--light);
}
@media only screen and (max-width: 575px) {
    .page-body{
        /* display: block; */
       
  
     background-image: none; 
     width: 100%;
     height: 100%;
     justify-content: center;
     
    }
    img{
        width: 100%;
        height: 150%;
    
    }

}