.page-body {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    /* Make sure the background image covers the entire container */
    background-image: url("src/assets/images/background/barn.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Create a pseudo-element for the background */
  .page-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Set the background color with opacity */
    background-color: rgba(0, 0, 0, 0.5);
  }
  
 

.form-container{
    padding: var(--x-larger-s);
    width: 35%;
    position: relative;

}

.icon-btn{
    background-color: var(--light);
}

@media only screen and (max-width: 575px) {
   
   

    .page-body, .container{
        /* padding: var(--small-s); */
        width: 100%;
    }
  
    
}
