.chart-container{
    height: 40vh;
    width: 100%;
    position: relative;
    padding-top: 2%;
    padding-left: 2%;
    background-color: #F7F7F7;
  
  
    
    
}
.chart-header{
    justify-content: center;
    padding-left: 37%;
    color:#6C757D;
}

   

