.page-body {
    background-image: url("src/assets/images/background/orange-trees.webp");
}

.mobile-header {
    background-image: url("src/assets/images/background/orange-trees.webp");
}

h2 {
    margin: 0px !important;
    padding: var(--small-s) 0px;
    font-family: var(--normal-font);
}

.form-input {
    margin: 0px !important;
}