<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">Delete Record</h1>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn colourful-btn"
                data-bs-dismiss="modal">
                No
            </button>
            <button type="button" class="btn outline">Yes</button>
        </div>
    </div>
</div>
