.container {
  display: flex;
  height:100%;
  width: 100%;

  justify-content: center;
  align-items: center;
  border-radius: none;
  border: none;
  flex-wrap: wrap;
}

.container-fluid {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}



  .button {
      border: none;
      padding: 15% 32%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 1px 2px;
      cursor: pointer;
} 


.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 12px;
  padding-top: 4px;
}

