<app-navbar></app-navbar>
<!-- <body style="background-image: url(../assets/images/background/barn.web); background-size: cover;"> -->
    
<div class="page-body">
<div class="header">
    
    <!-- <div class=" card">
        <img src="assets/images/background/barn.webp" alt="No image">
        <div class="card-img-overlay"> -->
        
            <h1>Build Stronger Finances <br>
                One Field At A Time
            </h1>

            <br />
            <br />

            <div>

                <article>
                    <p>We understand the challenges farmers face, and our app is designed to
                        simplify financial.
                        <br /> We want to empower farmers to make informed decisions and succeed in their farming
                        journey. Take Control of Your Farm's Financial Future with AgriFund.
                    </p>
                </article>



            </div>
            <br />
            <br />

            <button class="colourful-btn" [routerLink]="['get-started']">
                <span>Let's get started</span>  
                 <fa-icon icon="external-link-alt">  
                </fa-icon>

            </button>
        </div>
    </div>
<!-- </div>
</div> -->
<!-- </body> -->
<!-- </div>
</div> -->
<!-- </body> -->
<app-about-company></app-about-company>
<app-team-section></app-team-section>