<div class="row page-body">
    <div class="row">
        <app-navbar></app-navbar>
    </div>
    <div class="col-12 header">
        <div class="header-content">
            <div>
                <h1 class="slogan">
                    <span>
                        Build Stronger Finances,
                    </span>
                    <span>
                        One Field At A Time
                    </span>
                </h1>
            </div>
            <div class="description justify-start">
                <p class="bold">
                    <span class="mobile-hidden">
                        We understand the challenges farmers face, and our app is designed to
                        simplify financial complexities.
                    </span>
                    <span class="mobile-hidden">
                        We want to empower farmers to make informed decisions and succeed in their farming
                        journey.
                    </span>
                    <span>
                        Take Control of Your Farm's Financial Future with AgriFund.
                    </span>

                </p>

            </div>
            <br />
            <br />

            <button class="colourful-btn" [routerLink]="['get-started']">
                Lets's get started  
                 <fa-icon icon="arrow-right">
                </fa-icon>
            </button>
        </div>
    </div>
<!-- </div>
</div> -->
<!-- </body> -->
<app-about-company></app-about-company>
<app-team-section></app-team-section>