<div class="mobile-header">
    <img src="assets/images/background/orange-trees.webp" alt="...">
</div>
<div class="page-body justify-center">
    <div class="container form-container">
        <form [formGroup]="LoginForm">
            <div class="row">
                <div class="col-sm-12 loginform">
                    <div class="container-header">
                        <div class="justify-start">
                            <h1>Login</h1>
                        </div>
                        <div class="justify-end">
                            <button
                                class="icon-btn btn-icon"
                                [routerLink]="['']">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                    </div>

                    <div class="form-input" [ngClass]="{'has-success': LoginForm.controls['email'].valid && LoginForm.controls['email'].dirty, 'has-error': LoginForm.controls['email'].invalid && LoginForm.controls['email'].dirty}">
                        <label for="email">Email:</label>
                        <input formControlName="email" class="form-control" id="emailInput" />
                        <small *ngIf="LoginForm.controls['email'].hasError('invalidEmail') && LoginForm.controls['email'].dirty" class="text-danger error">Invalid email format</small>
                        <small *ngIf="LoginForm.controls['email'].hasError('required') && LoginForm.controls['email'].dirty" class="text-danger">Field is required.</small>
                    </div>
                    <div class="form-input" [ngClass]="{'has-success': LoginForm.controls['password'].valid && LoginForm.controls['password'].dirty, 'has-error': LoginForm.controls['password'].invalid && LoginForm.controls['password'].dirty}">
                        <label for="password">Password:</label>
                        <input formControlName="password" class="form-control" id="passwordinput" />
                        <small *ngIf="LoginForm.controls['password'].hasError('invalidPassword') && LoginForm.controls['password'].dirty" class="text-danger">The password should meet minimum length, uppercase, lowercase, and numbers</small>
                        <small *ngIf="LoginForm.controls['password'].hasError('required') && LoginForm.controls['password'].dirty" class="text-danger">Field is required.</small>
                    </div>
                    <div class="form-group">
                        <button
                            type="submit" [disabled]="!LoginForm.valid"
                            class="btn actions colourful-btn"
                            [routerLink]="['/dashboard']">
                            <fa-icon icon="user"></fa-icon>
                            Login
                        </button>
                    </div>
                    <a
                        id="forget"
                        class="font-weight-lighter"
                        routerLink="/reset-password"
                        >Forgot your password?</a
                    >
                    <div class="text muted ">
                        Don't have an account?
                        <a
                            id="forget"
                            class="font-weight-lighter"
                            routerLink="/register"
                            >Register</a
                        >
                    </div>
                </div>
                <!-- <div class="col-md-6 col-sm-12 mobile-hidden">
                    <img src="assets/images/background/barn.webp"
                    alt="Avatar">
                </div> -->
            </div>
        </form>
    </div>
</div>
