<app-navbar></app-navbar>
<div class=" page-body">
    <div class="col-lg-12 headings">
    <div class="page-heading">
        <h1>Build Stronger Finances,One Field At A Time </h1>
    </div>
    <div>
       <h3>We understand the challenges farmers face, and our app is designed to simplify financial complexities.
         We want to empower farmers to make informed decisions and succeed in their farming journey. 
         Take Control of Your Farm's Financial Future with AgriFund. </h3></div>
         <button class="btn colourful-btn">
            <span class="justify-center">
                <fa-icon icon="arrow-right">
                </fa-icon>
                Get Started
            </span>
        </button>
    </div>
    <div class="col-lg-12 about">
        <div class="col-lg-6 aboutAgri">
            <div class="about-content">
            <p>In South Africa, there are approximately two million small-scale farmers compared to 35 000
              commercial growers. Small-scale farmers rely on their land to feed their families while selling
              and trading any extra produce they have left. <br /><br />
              If provided with the opportunity to acquire business funding, they will be able to grow their
              farming activities to produce a greater crop yield that can be sold to the community. However,
              most small-scale farmers don't have bookkeeping records which automatically disqualifies them from
              business funding.
              <br /><br />
              AgriFund's purpose is to create a platform that will allow small-scale farmers to bookkeep data
              that can be used to build a financial portfolio needed in applying for business funding.
            </p>
        </div>
    </div>
        <div class="col-lg-6 card"></div>

    </div>
</div>
  
