.headings{
    
  background-image: url(src/assets/images/background/barn.webp);
  height: 50%;
}
.page-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    
}
.card{
    background-image: url(src/assets/images/background/orange-trees.webp);
   
}
.about{
    display: flex;
    
    width: 50%;
    height: 50%;
}
.about-content{
    justify-content: center;
}

