.container{
    
   
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    justify-content: space-between;
   

}
.form-check-label {
    color: var(--primary-colour);
  }
.form-check {
    display: flex;
    align-items: center;
    margin-top:var(--small-s);
  }
  
  .form-check-input {
    margin-right: var(--small-s);
    margin-bottom: var(--small-s)
  }



h1{
     font-size: var( --font-x-large);
    font-family: var(--fancy-font);
    font-weight:var(--regular) ;
    width: 100%;
    margin-top:var( --medium-s) ; 
    color: var(--primary-colour);  
    
  }
 
  
  
  .actions{
    justify-content: center;
    margin-top:var(--medium-s) ;
  }

  .form-check-input[type="checkbox"] {
    
    border: 2px solid var(--lighter-grey); 
    border-radius: 2px;
  }
  
  .progress-bar {
    width: 100%;
    height: var( --x-large-s);
    background-color: #f0f0f0; /* Set the background color for the progress bar container */
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: var( --x-large-s);

  }
  
  .progress {
    height: 100%;
    background-color: #9BA66F ;
    justify-content: center;
    color: var(--white-2);
    font-size: var( --font-large);}

  .container-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: var(--normal-s);
    width: 100%;
    border-radius: var(--thin-border);
    border: 2px solid var(--lighter-grey);
   
  }
  
  .container-feedback h2,
  .container-feedback p,
  .container-feedback .actions {
    text-align: center;
    margin-top: var(--normal-s);
  }
  .checklist{
    margin-bottom: 30px;
  }
  

  

  