.container{
    
   
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.form-check-label {
    color: var(--primary-colour);
  }
.form-check {
    display: flex;
    align-items: center;
  }
  
  .form-check-input {
    margin-right: var(--small-s);
    margin-bottom: var(--small-s)
  }

 

h1{
    /* font-size: var( --font-x-large);
    font-family: var(--fancy-font);
    font-weight:var(--bold) ;
    width: 100%;
    margin-top:var( --x-larger-s) ;   */
    
  }
  p{
    width: 100%;
  }
  .actions{
    justify-content: center;
    margin-top:var(--medium-s) ;
  }

  .form-check-input[type="checkbox"] {
    appearance: none;
    border: 1px solid var(--lighter-grey); 
    border-radius: 2px;
  }
  

  