<div class="page-body justify-center">
    <!-- <div class="col-md-6 col-sm-12 mobile-hidden">
        <img src="assets/images/background/barn.webp" alt="Avatar">
    </div> -->
    <div class="mobile-header"></div>
    <div class="container form-container">
        <div class="container-header">
            <div class="justify-start">
                <h2>Edit Equipment</h2>
            </div>
            <div class="justify-end">
                <button class="btn icon-btn close-btn" [routerLink]="['/portfolio']">
                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
        </div>
        <hr />
        <div class="content mobile-hidden">
            <form [formGroup]="editEquipmentForm" (ngSubmit)="saveEquipment()">
                <div class="form-group" id="label">
                    <label for="assetName" class="form-label">
                        Name
                    </label>

                    <input formControlName="assetName" type="text" class="form-control" id="assetName" />

                </div>
                <div class="form-group" id="form-label">
                    <label for="assetType">Type</label>
                    <input formControlName="assetType" type="text" class="form-control" id="assetType" />

                </div>
       

                <div class="form-group" id="label">
                    <label for="age" class="form-label">
                        Age(years)
                    </label>
                    <input formControlName="age" type="text" class="form-control" id="age" />
                </div>

                <div class="form-group" id="label">
                    <label for="purchasePrice" class="form-label">
                        Purchase Amount
                    </label>
                    <input formControlName="purchasePrice" type="text" class="form-control" id="purchasePrice" />
                </div>
                <div class="actions">
                    <div class="justify-start">
                        <button class="btn colourful-btn btn-width left-btn" type="submit">
                            Save
                        </button>
                    </div>
                    <div class="justify-end">
                        <button class="btn outline-btn btn-width right-btn" [routerLink]="['/portfolio']">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="content large-hidden">
            <form [formGroup]="editEquipmentForm" (ngSubmit)="saveEquipment()">
                <div class="form-group" id="label">
                    <label for="assetName" class="form-label">
                        Name
                    </label>

                    <input formControlName="assetName" type="text" class="form-control" id="assetName" />

                </div>
               <div class="form-group" id="label">
                    <label for="purchasePrice" class="form-label">
                        Purchase Amount
                    </label>
                    <input formControlName="purchasePrice" type="text" class="form-control" id="purchasePrice" />
                </div>
                <div class="actions">
                    <div class="justify-start">
                        <button class="btn colourful-btn btn-width left-btn" type="submit">
                            Save changes
                        </button>
                    </div>
                    <div class="justify-end">
                        <button class="btn outline-btn btn-width right-btn" [routerLink]="['/portfolio']">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>

        
</div>
</div>
