.page-body {
    background-image: url("src/assets/images/background/orange-trees.webp");
    flex-direction: column;
}

.mobile-header {
    background-image: url("src/assets/images/background/orange-trees.webp");
}

h2 {
    margin: 0px !important;
    padding: var(--small-s) 0px;
    font-family: var(--normal-font);
}

.form-input {
    margin: 0px !important;
}

.justify-start {
    margin: 0px !important;
    align-items: center;
}

.doc-header>* {
    font-size: var(--font-small);
    padding-right: var(--small-s);
    margin-bottom: 0px !important;
}

.actions {
    margin: var(--normal-s) 0px 0px 0px !important;
}

.text-danger {
    /* adds margin to top of feedback text for input fields */
    margin-top: var(--s-small-s) !important;
}