<!-- 
    AUTHOR: Monique
    CREATE DATE: 24 Jul 2023
    UPDATED DATE: 17 Aug 2023 
 -->
<div class="page-body page-background justify-center">
    <!-- image header that will display on mobile devices -->
    <div class="mobile-header"></div>
    <div class="container form-container">
        <div class="container-header">
            <div class="justify-start">
                <h1 class="normal-font">Create Record</h1>
            </div>
            <div class="justify-end">
                <button
                    class="btn icon-btn close-btn"
                    [routerLink]="['/bookkeep']">
                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
        </div>
        <hr />
        <div class="content">
            <form [formGroup]="createRecordForm" (ngSubmit)="saveRecord()">
                <div class="form-input" id="label">
                    <label for="recordName" class="form-label">
                        Record Description
                    </label>
                    <div class="form-text">
                        Give 2-3 words to describe the record. Example: Bought
                        Seeds
                    </div>
                    <input
                        formControlName="recordName"
                        type="text"
                        class="form-control"
                        id="recordName" />
                    <div
                        class="form-text text-danger"
                        *ngIf="
                            (createRecordForm.controls['recordName'].touched ||
                                submitted) &&
                            createRecordForm.controls['recordName'].errors?.[
                                'required'
                            ]
                        ">
                        Please give your record a description.
                    </div>
                </div>
                <div class="form-input" id="form-label">
                    <label for="recordDate">Record Date</label>
                    <div class="form-text">
                        Please specify the date of the record.
                    </div>
                    <input
                        formControlName="recordDate"
                        type="date"
                        class="form-control"
                        id="recordDate" />
                    <div
                        class="form-text text-danger"
                        *ngIf="
                            (createRecordForm.controls['recordDate'].touched ||
                                submitted) &&
                            createRecordForm.controls['recordDate'].errors?.[
                                'required'
                            ]
                        ">
                        Please specify a valid date for your record.
                    </div>
                </div>
                <div class="form-input" id="form-label">
                    <label for="recordType">Type of Record</label>
                    <select
                        formControlName="recordType"
                        class="form-select"
                        id="recordType">
                        <option value="" disabled selected>
                            Select a record type...
                        </option>
                        <option
                            *ngFor="let type of recordType"
                            [ngValue]="type">
                            {{ type }}
                        </option>
                    </select>
                    <div
                        class="form-text text-danger"
                        *ngIf="
                            (createRecordForm.controls['recordType'].touched ||
                                submitted) &&
                            createRecordForm.controls['recordType'].errors?.[
                                'required'
                            ]
                        ">
                        Please select a type for your record.
                    </div>
                </div>
                <!-- input for the amount of a record -->
                <div class="form-input" id="label">
                    <label for="recordAmount" class="form-label">
                        Amount of Record
                    </label>
                    <div class="input-group">
                        <span class="input-group-text">R</span>
                        <input
                            formControlName="recordAmount"
                            type="text"
                            class="form-control"
                            id="recordAmount" />
                    </div>
                    <div
                        class="form-text text-danger"
                        *ngIf="
                            createRecordForm.controls['recordAmount'].touched &&
                            createRecordForm.controls['recordAmount'].errors?.[
                                'required'
                            ]
                        ">
                        Please provide an amount for your record.
                    </div>
                </div>
                <div class="form-input" id="label">
                    <label for="recordProof" class="form-label">
                        Proof of Record
                    </label>
                    <div class="form-text">
                        Please upload a receipt or proof of payment.
                    </div>
                    <div class="document-upload">
                        <div class="doc-header justify-start">
                            <label for="recordProof">Upload Document </label>
                            <div class="form-text">PDF, PNG, JPG</div>
                        </div>
                        <hr />
                        <input
                            formControlName="recordProof"
                            class="form-control"
                            type="file"
                            id="recordProof" />
                    </div>
                    <div
                        class="form-text text-danger"
                        *ngIf="
                            (createRecordForm.controls['recordProof'].touched ||
                                submitted) &&
                            createRecordForm.controls['recordProof'].errors?.[
                                'required'
                            ]
                        ">
                        Please upload proof of your record.
                    </div>
                </div>
                <div class="actions">
                    <div class="justify-start">
                        <button
                            class="btn colourful-btn btn-width left-btn"
                            type="submit">
                            Save
                        </button>
                    </div>
                    <div class="justify-end">
                        <button
                            class="btn outline-btn btn-width right-btn"
                            [routerLink]="['/bookkeep']">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
