<div class="container" id="container">
    <div class="profile-heading">
        <div class="heading">
            <h3>Your Plot Info</h3>
        </div>
        <div class="action">
            <app-enableform-crop-info (enableFields)="enableFields()"
                (saveData)="onSaveClicked($event)"></app-enableform-crop-info>
        </div>
    </div>
    <hr>
    <div class="container">
        <form [formGroup]="myForm">

            <div class="form-input"
                [ngClass]="{'has-success': myForm.controls['farmAddress'].valid && myForm.controls['farmAddress'].dirty, 'has-error': myForm.controls['farmAddress'].invalid && myForm.controls['farmAddress'].dirty}">
                <label for="farmAddress" class="form-label">Plot Address</label>
                <input type="text" class="form-control" id="farmAddress" aria-describedby="farmAddress" formControlName="farmAddress"
                    [disabled]="isDisabled">
                <small
                    *ngIf="myForm.controls['farmAddress'].hasError('addressContainsStreet') && myForm.controls['farmAddress'].dirty"
                    class="text-danger">Please enter word Street in your address</small>
                <div class="form-text text-danger"
                    *ngIf="myForm.controls['farmAddress'].hasError('required') && myForm.controls['farmer'].dirty"
                    class="text-danger">
                    Field is required.</div>
            </div>

            <div class="form-input"
                [ngClass]="{'has-success': myForm.controls['size'].valid && myForm.controls['size'].dirty, 'has-error': myForm.controls['size'].invalid && myForm.controls['size'].dirty}">
                <label for="size" class="form-label">Size of farm (in hectares)</label>
                <input type="text" class="form-control" id="size" formControlName="size" [disabled]="isDisabled">
                <div class="form-text text-danger"
                    *ngIf="myForm.controls['size'].hasError('invalidPositiveNumber') && myForm.controls['size'].dirty"
                    class="text-danger">Please enter a positive number.</div>
                <div class="form-text text-danger"
                    *ngIf="myForm.controls['size'].hasError('required') && myForm.controls['size'].dirty"
                    class="text-danger">Field is required.</div>
            </div>

            

            <div class="form-input">
                <label for="date">When did you start farming on this land?</label>
                <input formControlName="date" type="date" class="form-control" id="date" [disabled]="isDisabled" />
            </div>

            <div class="button-container">
                <button *ngIf="!isDisabled" (click)="onSaveClicked(myForm.value)" [disabled]="!myForm.valid"
                    class="btn colourful-btn btn-width">Save</button>
                <button *ngIf="!isDisabled" (click)="onCancelClicked()"
                    class="btn outline-btn btn-width">Cancel</button>
            </div>

        </form>
    </div>
</div>