.container {
  
    border-color: var(--light-grey);
    border: 1px solid #ccc;
  }
  
  .form-control {
    border-color: var(--lighter-grey);
  }
  
  
  .button-container{
    display: flex;
    justify-content: center;
    
  }
  .btn{
    margin: 30px;
  }
 hr {
   
    height: 2px;
    border-color: var(--grey);
    border: 1px solid #ccc;
    margin-bottom: 19px;
    }

    .profile-heading{
        display: flex;
        align-items: center;
        width:100%;
      }

      .heading{
        display:flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
      }
      .action{
        display:flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
      }