<!-- I added a two way column -->
<div class="container">
    <div class="row">
        <div class="column">
            <h1>About AgriFund
            </h1>
            <p>In South Africa, there are approximately two million small-scale farmers compared to 35 000 commercial
                growers. Small-scale farmers rely on their land to feed their families while selling and trading any
                extra produce they have left. 
            <br>
            <br>  If provided with the opportunity to acquire business funding, they will
                be able to grow their farming activities to produce a greater crop yield that can be sold to the
                community. However, most small-scale farmers don’t have bookkeeping records which automatically
                disqualifies them from business funding.
            <br>
            <br>  AgriFund’s purpose is to create a platform that will allow
                small-scale farmers to bookkeep data that can be used to build a financial portfolio needed in applying
                for business funding.</p>
        </div>
        <div class="column">
            <!-- <img src="https://cdn.dribbble.com/userupload/2901757/file/original-edf26ef32309871add22fb8244590e53.jpeg?resize=1600x1200"
                alt=""> -->

        </div>
    </div>
</div>