<div class="page-body justify-center">
    <!-- <div class="col-md-6 col-sm-12 mobile-hidden">
        <img src="assets/images/background/barn.webp" alt="Avatar">
    </div> -->
    <div class="mobile-header"></div>
    <div class="container form-container">
        <div class="container-header">
            <div class="justify-start">
                <h2>Add Equipment</h2>
            </div>
            <div class="justify-end">
                <button class="btn icon-btn close-btn" [routerLink]="['/portfolio']">
                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
        </div>
        <hr />
        <div class="content mobile-hidden">
            <form [formGroup]="createEquipmentForm" (ngSubmit)="saveEquipment()">
                <div class="form-group">
                    <label for="equipmentName">Name of equipment</label>
                    <div class="form-text">
                        Describe the equipment in 1-10 words. Example: Wooden Rake
                    </div>
                    <input formControlName="equipmentName" class="form-control" id="equipmentNameInfa-pull-left" />
                </div>
                <div class="form-group">
                    <label for="equipmentType">Type of</label>
                    <input formControlName="equipmentType" class="form-control" id="equipmentTypeInfa-pull-left" />
                </div>


                <div class="form-group">
                    <label for="purchase_Amount">Purchase Amount</label>
                    <input formControlName="purchase_Amount" class="form-control" id="purchase_AmountInfa-pull-left" />
                </div>

                <div class="form-group">
                    <label for="age">Age in years</label>
                    <input formControlName="age" class="form-control" id="age" />
                </div>

                <!-- <div class="document-upload">
                    <div class="doc-header justify-start">
                        <label for="recordProof">Upload Proof of Ownership </label>
                        <div class="form-text">PDF, PNG, JPG</div>
                    </div>
                    <hr />
                    <div class="file">
                        <input formControlName="recordProof" class="form-control" type="file" id="recordProof" />
                        <button class="btn colourful-btn ">
                            View
                        </button>
                    </div>
                </div> -->
                <div class="actions">
                    <div class="justify-start">
                        <button class="btn colourful-btn btn-width left-btn" type="submit">
                            Save
                        </button>
                    </div>
                    <div class="justify-end">
                        <button class="btn outline-btn btn-width right-btn" [routerLink]="['/portfolio']">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>



        <!-- <div class="content large-hidden">
            <form [formGroup]="createEquipmentForm" (ngSubmit)="saveEquipment()">
                <div class="form-group" id="label">
                    <label for="assetName" class="form-label">
                        Name
                    </label>

                    <input formControlName="assetName" type="text" class="form-control" id="assetName" />

                </div>

                <div class="form-group" id="form-label">
                    <label for="assetType">Type</label>
                    <input formControlName="assetType" type="text" class="form-control" id="assetType" />

                </div>

                <div class="form-group" id="label">
                    <label for="age" class="form-label">
                        Age(years)
                    </label>
                    <input formControlName="age" type="text" class="form-control" id="age" />
                </div>

                <div class="form-input" id="label">
                    <label for="equipmentAmount" class="form-label">
                        Purchase Amount
                    </label>
                    <input formControlName="purchasePrice" type="text" class="form-control" id="purchasePrice" />
                </div>
                <div class="actions">
                    <div class="justify-start">
                        <button class="btn colourful-btn btn-width left-btn" type="submit">
                            Save
                        </button>
                    </div>
                    <div class="justify-end">
                        <button class="btn outline-btn btn-width right-btn" [routerLink]="['/portfolio']">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div> -->


    </div>
</div>