<div class="page-body justify-center">
    <!-- <div class="col-md-6 col-sm-12 mobile-hidden">
        <img src="assets/images/background/barn.webp" alt="Avatar">
    </div> -->
    <div class="mobile-header"></div>
    <div class="container form-container">
        <div class="container-header">
            <div class="justify-start">
                <h2>Edit Record</h2>
            </div>
            <div class="justify-end">
                <button
                    class="btn icon-btn close-btn"
                    (click)="viewRecordDetails(record.id)">
                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
        </div>
        <hr />
        <div class="content">
            <form [formGroup]="editRecordForm" (ngSubmit)="saveRecord()">

                <div class="actions">
                    <div class="justify-start">
                        <button
                            class="btn colourful-btn btn-width left-btn"
                            type="submit">
                            Save
                        </button>
                    </div>
                    <div class="justify-end">
                        <button
                            class="btn outline-btn btn-width right-btn"
                            (click)="viewRecordDetails(record.id)">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
