<!-- 
    AUTHOR: Monique
    CREATE DATE: 24 Jul 2023
    UPDATED DATE: 17 Aug 2023 
 -->
<ng-container
    *ngIf="{
        userState: userState$ | async
    } as observables">

    <nav class="navbar">
        <!--before login-->
        <div class="nav-left">
            <div class="justify-start">
                <button
                    class="btn icon-btn navbar-toggler"
                    type="button"
                    (click)="openOffcanvas(offcanvas)">
                    <fa-icon icon="bars"></fa-icon>
                </button>

                <h1 class="nav-brand">
                    <span>Agri</span>
                    <img
                        src="assets/images/logo/f_carrot.png"
                        class="icon-img"
                        alt="F" />
                    <span>und</span>
                </h1>
            </div>
        </div>
        <div class="nav-right mobile-hidden">
            <div
                *ngIf="
                    userState$ !== null;
                    then navRightAfterLogin;
                    else navRightBeforeLogin
                "></div>
        </div>
    </nav>
</ng-container>
<!-- navbar right side before login -->
<ng-template #navRightBeforeLogin>
    <button type="button" class="btn colourful-btn" [routerLink]="['/login']">
        Login
    </button>
    <button type="button" class="btn outline-btn" [routerLink]="['/register']">
        Register
    </button>
</ng-template>

<!-- navbar left side after login -->
<ng-template #navRightAfterLogin>
    <span class="name-greeting">
        <p class="bold">Hello,</p>
        <pre>&#x20;</pre>
        <a class="username bold">FirstName</a>
    </span>
    <button type="button" class="btn outline-btn">Logout</button>
</ng-template>

<!-- offcanvas after login -->
<ng-template #offcanvas let-offcanvas>
    <div class="offcanvas-header">
        <h1 class="nav-brand">
            <span>Agri</span>
            <img
                src="assets/images/logo/f_carrot.png"
                class="icon-img"
                alt="F" />
            <span>und</span>
        </h1>
        <button
            class="btn icon-btn"
            type="button"
            (click)="offcanvas.dismiss('Cross click')">
            <fa-icon icon="times"></fa-icon>
        </button>
    </div>
    <div class="offcanvas-body">
        <app-sidebar></app-sidebar>
    </div>
    <div class="offcanvas-footer">
        <button
            class="btn white-outline-btn"
            [routerLink]="['']"
            data-bs-dismiss="offcanvas">
            Logout
        </button>
    </div>
</ng-template>

<!-- offcanvas before login -->
<ng-template #offcanvasBeforeLogin let-offcanvas>
    <div class="offcanvas-body">
        <ul class="navbar-nav sidebar-content">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['']">
                    <fa-icon icon="home"></fa-icon>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/get-started']">
                    <fa-icon icon="external-link-alt"></fa-icon>
                    <span>Get Started</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="offcanvas-footer">
        <button
            class="btn white-btn"
            [routerLink]="['/login']"
            data-bs-dismiss="offcanvas">
            Login
        </button>
        <button
            class="btn white-outline-btn"
            [routerLink]="['/register']"
            data-bs-dismiss="offcanvas">
            Register
        </button>
    </div>
</ng-template>
<!-- 
<ng-template #navbarBrand></ng-template> -->
