<!-- <div class="outer">
<div class="container">
    <form class="form-input" [formGroup]="myForm" disabled>
      <div class="form-group">
        <label>First Name:</label>
        <input type="text" class="form-control" formControlName="firstName">
      </div>
      <div class="form-group">
        <label>Last Name:</label>
        <input type="text" formControlName="lastName">
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" formControlName="email">
      </div>
      <div class="form-group">
        <label>Phone Number:</label>
        <input type="text" formControlName="phoneNumber">
      </div>
    </form>
  </div>
</div>
   -->
   <!-- personal-info-form.component.html -->
<!-- disabledform-personal-info.component.html -->



<div class="container">
  <div class="profile-heading">
    <div class="heading">
      <h3>Your Farm Info</h3>
    </div>
    <div class="action">
      <app-enableform-crop-info (enableFields)="enableFields()" (saveData)="onSaveClicked($event)"></app-enableform-crop-info>
    </div>
  </div>
  <hr>
  <div class="sub-container">
    <form [formGroup]="myForm">
      <div class="form-input" [ngClass]="{'has-success': myForm.controls['farm'].valid && myForm.controls['farm'].dirty, 'has-error': myForm.controls['farm'].invalid && myForm.controls['farm'].dirty}">
        <label for="farm" class="form-label">Location of my farm</label>
        <input type="text" class="form-control" id="farm" aria-describedby="farm"
               formControlName="farm" [disabled]="isDisabled">
               <!-- <small *ngIf="myForm.controls['farm'].hasError('addressLength') && myForm.controls['farm'].dirty" class="text-danger">Invalid format.</small> -->
               <small *ngIf="myForm.controls['farm'].hasError('required') && myForm.controls['farm'].dirty" class="text-danger">Field is required.</small>
      </div>
      <div class="form-input" [ngClass]="{'has-success': myForm.controls['size'].valid && myForm.controls['size'].dirty, 'has-error': myForm.controls['size'].invalid && myForm.controls['size'].dirty}">
        <label for="size" class="form-label">Size of farm (ha)</label>
        <input type="text" class="form-control" id="size" formControlName="size"
               [disabled]="isDisabled">
               <small *ngIf="myForm.controls['size'].hasError('invalidPositiveNumber') && myForm.controls['size'].dirty" class="text-danger">Invalid format.</small>
               <small *ngIf="myForm.controls['size'].hasError('required') && myForm.controls['size'].dirty" class="text-danger">Field is required.</small>

      </div>
      <div class="form-input" [ngClass]="{'has-success': myForm.controls[''].valid && myForm.controls['years'].dirty, 'has-error': myForm.controls['years'].invalid && myForm.controls['years'].dirty}">
        <label for="years" class="form-label">Years using this farm</label>
        <input type="text" class="form-control" id="years" formControlName="years"
               [disabled]="isDisabled">
               <small *ngIf="myForm.controls['years'].hasError('isNumeric') && myForm.controls['years'].dirty" class="text-danger">Invalid format.</small>
               <small *ngIf="myForm.controls['years'].hasError('required') && myForm.controls['years'].dirty" class="text-danger">Field is required.</small>
      </div>
   
      <div class="form-input" [ngClass]="{'has-success': myForm.controls['crop_name'].valid && myForm.controls['crop_name'].dirty, 'has-error': myForm.controls['crop_name'].invalid && myForm.controls['crop_name'].dirty}">
        <label for="num_employee" class="form-label">Number of people that help you farm</label>
        <input type="text" class="form-control" id="num_employee" formControlName="num_employee"
               [disabled]="isDisabled">
               <small *ngIf="myForm.controls['num_employee'].hasError('isNumeric') && myForm.controls['num_employee'].dirty" class="text-danger">Invalid format.</small>
               <small *ngIf="myForm.controls['num_employee'].hasError('required') && myForm.controls['num_employee'].dirty" class="text-danger">Field is required.</small>       
      </div>

      <div class="form-input" [ngClass]="{'has-success': myForm.controls['reasonForFunding'].valid && myForm.controls['reasonForFunding'].dirty, 'has-error': myForm.controls['reasonForFunding'].invalid && myForm.controls['reasonForFunding'].dirty}">
        <label for="reasonForFunding" class="form-label">Reason for needing funding:</label>
        <input type="text" class="form-control" id="reasonForFunding" formControlName="reasonForFunding"
               [disabled]="isDisabled">
               <small *ngIf="myForm.controls['reasonForFunding'].hasError('required') && myForm.controls['reasonForFunding'].dirty" class="text-danger">Field is required.</small> 
      </div>
      <div class="button-container">
        <button *ngIf="!isDisabled" (click)="onSaveClicked(myForm.value)" [disabled]="!myForm.valid" class="btn colourful-btn btn-width">Save</button>
        <button *ngIf="!isDisabled" (click)="onCancelClicked()" class="btn outline-btn btn-width">Cancel</button>
      </div>

    </form>
  </div>
</div>