@import "~bootstrap/dist/css/bootstrap.css";
:root {

    /* COLOUR PALETTE */

    --primary-colour: #606C38;/*primary green colour */
    --primary-lighter: #7D8953;
    --primary-light: #9BA66F;
    --secondary-colour: #D15F20;
    
    --dark: #2E2E2E;/*default colour for text*/
    --dark-grey: #4C5359;/* colour of paragraphs*/
    --light: #F8F9FA;/*default background colour and colour of text on colour backgrounds*/

    --grey: #6C757D;/* grey-text, fine prints, placeholder colour */
    --lighter-grey: #ADB5BD;/* borders, strokes, input field-outlines*/
    --light-grey: #DEE2E6;/* borders and strokes */

    /* SIZING & SPACING */

    /* Todo: add small, medium and large spacing*/
    /* Todo: add font sizes*/

    /* FONT SIZES */
    --large: 24px;
    --medium: 18px;
    --normal: 16px;
    --small: 14px; 
    --x-small: 12px;

    /* BORDERS */
    --border-radius: 3px;
    --btn-border: 2px solid;
    --container-border: 1px solid;
}

/* TEXT */
h1{

}

h1{

}

h2{

}

h3{

}

/* CONTAINERS */


/* BUTTONS */
button {
    display: flex;
    width: 251px;
    height: 36px;
    padding: 4px 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    flex-shrink: 0;

    border-radius: 3px;
    border: 1px solid var(--primary-colour);
    background: var(--primary-colour);
    color: var(--light);
}


