/* ------------------------------------------------------------------------------------------------
    AUTHOR: Monique
    CREATE DATE: 24 Jul 2023
    UPDATED DATE: 17 Aug 2023 
-------------------------------------------------------------------------------------------------*/

@import "~bootstrap/dist/css/bootstrap.css";
@import 'src/assets/fonts/_fonts.css';

:root {

    /*------------------
        COLOUR PALETTE
    --------------------*/
    --primary-darker: #5A6537;
    /*primary green colour */
    --primary-colour: #606C38;
    --primary-lighter: #7D8953;
    --primary-light: #9BA66F;
    --secondary-colour: #D15F20;
    /* grey-text, fine prints, placeholder colour */
    --grey: #6C757D;
    /* borders, strokes, input field-outlines*/
    --lighter-grey: #ADB5BD;
    /* borders and strokes */
    --light-grey: #DEE2E6;
    /* background colour for fields*/
    --grey-white: #E9ECEF;
    /*default colour for text*/
    --dark: #2E2E2E;
    --darkRGB: 46, 46, 46;
    /* colour of paragraphs*/
    --dark-grey: #4C5359;
    /*default background colour and colour of text on colour backgrounds*/
    --light: #F8F9FA;
    --light-1: #FDFDFD;
    --light-2: #F8F9FA;
    --light-3: #F7F7F7;

    /* colour alpha setting */
    --alpha: 0.4;

    /*------------------
        FONTS
    --------------------*/
    --fancy-font: 'Arvo';
    --normal-font: 'Lato';

    /*------------------
        FONT SIZES
    --------------------*/
    --font-x-large: 24px;
    --font-large: 22px;
    --font-medium: 18px;
    --font-normal: 16px;
    --font-small: 14px;
    --font-x-small: 12px;

    /*------------------
        FONT Weights
    --------------------*/
    --thin: 100;
    --light-font: 300;
    --regular: 400;
    --bold: 700;

    /*------------------
        BORDERS
    --------------------*/
    --border-radius: 3px;
    /*button borders  */
    --thick-border: 2px solid;
    /*container borders */
    --thin-border: 1px solid;

    /*------------------
        SPACING & SIZING
    --------------------*/
    --xx-small-s: 4px;
    --x-small-s: 8px;
    --small-s: 10px;
    --small-normal-s: 12px;
    --normal-s: 14px;
    --normal-medium-s: 16px;
    --medium-s: 18px;
    --medium-large-s: 20px;
    --large-s: 24px;
    --x-large-s: 28px;
    --xx-large-s: 36px;
}
/*space between the last control-input and button*/
.between-button{
    margin-bottom: var( --large-s);
 }

html body {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--light);
    color: var(--dark);
    font-family: var(--normal-font);
}

/*------------------
   NAVBAR & SIDEBAR
--------------------*/
.offcanvas {
    /* changes offcanvas background color */
    background-color: var(--light) !important;
    border: none !important;
}

/* sets size of the top offcanvas */
.offcanvas.offcanvas-top {
    /* background-color: var(--light); */
    height: max-content !important;
    max-height: max-content !important;
}

/* sets how the app sidebar will display when it is called any */
app-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: max-content;
}

/*------------------
    CONTAINERS 
--------------------*/
/* override bootstrap row styles */
.row>* {
    padding: 0px !important;
    margin: 0px !important;
    flex-shrink: 1;
}

/* override bootstrap row styles */
.row {
    margin: 0px !important;
    position: relative;
    /* padding: inherit !important; */
}

/*container for the entire page*/
.page-body,
.page-background {
    display: flex;
    justify-content: start;
    flex-flow: row;
    height: 100%;
    width: 100%;

    background-image: url("src/assets/images/background/orange-trees.webp");
    background-size: cover;
    background-color: var(--light);
    background-repeat: fill no-repeat;
    background-attachment: fixed;

    overflow: scroll;
}

/* puts filter on page-background */
.page-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--darkRGB), var(--alpha));
}

/*child to page-body - all page items headings and containers go in here*/
.page-content {
    /* padding: 55px var(--xx-large-s) var(--xx-large-s)  !important; */
    /* width: 100% !important; */
    display: flex;
    flex-flow: column;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

}


/* container for page headings */
.page-heading {
    margin-bottom: var(--normal-s);
}

.page-heading h1 {
    /* changes the page headings to white */
    color: var(--light);
}

/* outer most container */
.outer-container {
    background-color: var(--light-1) !important;
}

/*any div that needs a border around it middle container */
.container {
    margin: 0px !important;
    border-radius: var(--border-radius);
    border: var(--thin-border) var(--lighter-grey);

    /* padding: var(--normal-s); */

    background-color: var(--light-2);
    background-size: 100%;
    max-width: 100% !important;
    height: max-content;
}

/* inner-most container */
.inner-container {
    background-color: var(--light-3) !important;
}

/* container for document upload input field */
.document-upload {
    border-radius: var(--border-radius);
    border: var(--thin-border) var(--lighter-grey);
    padding: var(--small-s);
}

/* styling for containers for containers that shouldn't fill the entire page */
.form-container {
    padding: var(--xx-large-s);
    width: 45%;
    position: relative;

}

/* container for container headings */
.container-header {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: var(--small-s);
}

/* styling for cards */
.card {
    align-items: center;
    background-color: var(--light-grey);
    border-radius: var(--border-radius);
    border: none;
    flex-direction: column;
    justify-content: center;

    padding: var(--normal-s);
    margin: var(--normal-s);
}

/* image cards on mobile devices */
.mobile-header {
    background-color: var(--light);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;

    display: inline-flex;


    width: 100%;
    min-height: 18% !important;
    align-items: flex-start;
    flex-shrink: 0;
}

/* adds a dark overlay on header */
.mobile-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 18%;
    background-color: rgba(var(--darkRGB), var(--alpha));
}

/* container for groups of buttons are inputs for single row */
.actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin: var(--normal-s) 0px;

    width: 100%
}


.sidebar {
    height: 100%;
    width: max-content;
    position: relative;
}

.no-data-card-inner {
    /* card inner items will display underneath each other */
    flex-direction: column;
    width: 75%;
}

/* adds sping to all card inner items */
.no-data-card-inner>* {
    margin: var(--normal-s);
}


.no-data-card {
    /* makes card size enough to just fit content */
    flex: 1 1 auto;
}

/*----------------------
    MODALS
----------------------*/
.modal-dialog {
    /* vertically centers the modal dialog on the page */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal,
.modal-content {
    /* changes border of the modal */
    border-radius: var(--border-radius);
    border: var(--thin-border) none;
    padding: var(--normal-s);
}

.modal-header,
.modal-body {
    /* set padding */
    padding: 0px;

}

/* set styles for a modal body */
.modal-body {
    /* set margin for the top and bottom of modal body */
    margin: var(--normal-s) 0px;
}

.modal-footer,
.modal-header {
    /* removes the border lines on for the modal header and footer */
    border: none !important;
    /* set padding */
    padding: 0px !important;
    /* sets margin */
    margin: var(--normal-s) 0px;
}

.modal-footer,
.modal-header {
    /* prevents modal footer from flexing int container */
    display: block;
    /* removes margins */
    margin: 0px !important;
    /* removes padding */
    padding: 0px !important;
}


/*----------------------
    JUSTIFY CONTENT
----------------------*/
/* justify content to the left */
.justify-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%
}

/* justify content to the right */
.justify-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%
}

/* justify content to the center */
.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

/*----------------------
    TEXT
----------------------*/
/* styling for heading 1*/
h1 {
    font-family: var(--fancy-font);
    font-size: var(--font-x-large);
    font-weight: var(--bold);
    line-height: auto !important;

    margin: 0px;

    color: var(--dark);
}

/* styling for heading 2*/
h2 {
    font-family: var(--normal-font);
    font-size: var(--font-medium);
    font-weight: var(--bold);
    line-height: auto !important;

    margin: 0px 0px var(--small-s) 0px;

    color: var(--dark);
}

/* styling for headings that don't use fancy font*/
h3 {
    color: var(--dark);
    font-family: var(--normal-font);
    font-size: var(--font-medium);
    font-weight: var(--bold);
    line-height: auto !important;

    margin: 0px 0px var(--small-s) 0px;
}

/* styling for paragraphs */
p {
    color: var(--dark);

    font-family: var(--normal-font);
    font-size: var(--font-normal);
    font-weight: var(--regular);
    line-height: auto !important;

    margin: 0px 0px var(--small-s) 0px;
}

/* styling for anchors/links */
a {
    color: var(--primary-colour) !important;

    font-family: var(--normal-font);
    font-size: var(--font-medium);
    font-weight: var(--regular);
    line-height: auto !important;
}

/* styling for anchors/links when hovering or when active*/
a:hover,
a:active {
    color: var(--primary-lighter) !important;
    text-decoration: underline !important;

}

/* styling for icons */
fa-icon {
    color: var(--light);

    font-size: var(--font-normal);
    line-height: var(--font-normal);
    text-align: center;

    height: var(--font-normal);
    width: var(--font-normal);

    padding: 0px;
    margin: 0px;
}

/* used to override fontawesome css*/
.svg-inline--fa {
    height: var(--font-normal);
}

/* used to style heading/title within a card*/
.card-title {
    color: var(--grey);
    font-size: var(--font-normal);
    font-weight: var(--bold);
}

/* used to make text bold */
.bold {
    font-weight: var(--bold);
}

/* used to make text grey */
.greyed {
    color: var(--grey);
}

/* sets any font to normal font */
.normal-font {
    font-family: var(--normal-font);
}

/* align text to center */
.align-center {
    text-align: center;
}


/*----------------------
    FORMS
----------------------*/
/* styling for all labels used and labels for form inputs */
label,
.form-label {
    color: var(--dark);

    font-family: var(--normal-font);
    font-size: var(--font-normal);
    font-weight: var(--bold);

    margin: 0px 0px var(--x-small-s) 0px;
}

/* styling for form input fields */
input,
.form-control,
.form-select {

    border-radius: var(--border-radius);
    border: var(--thin-border) var(--lighter-grey);

    background-color: var(--light);
    height: var(--xx-large-s);

    padding: var(--xx-small-s) var(--small-s) ;
}

/* styling for form input fields */
.form-input {
    padding-bottom: var(--small-s) !important;
    /* margin: var(--small-s) 0px !important; */

}

/* styling for form input fields */
.form-text {
    margin: calc(var(--x-small-s) * -1) 0px var(--x-small-s) 0px;
    font-size: var(--font-x-small) !important;
}

/* styling for input fields for focus */
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
select.form-select:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: none;
    border: var(--thin-border) var(--dark);
}

/* styles the input group text match the style for the input group */
.input-group-text {

    border-radius: var(--border-radius);
    border: var(--thin-border) var(--lighter-grey);
    /* removes the right border to make the input group look like a single field */
    border-right: none !important;

    background-color: var(--light);
    height: var(--xx-large-s);

}

.input-group input {
    /* remove the left border for input groups with input group text */
    border-left: none !important;
}

/* changes display for search input group */
.search input {
    border-radius: var(--border-radius);
    border: var(--thin-border) var(--lighter-grey) !important;
    /* removes the left border for input groups with input group text */
    border-right: none !important;
}

/* changes the style of the input group text when the input field is in focus */
.input-group:focus-within .input-group-text {
    border-radius: var(--border-radius);
    box-shadow: none;
    border: var(--thin-border) var(--dark);
    background-color: white;
}

.input-group:focus-within *:focus {
    /* removes the outline of input group */
    outline: 0;
}

.file-upload {
    /* changes the width of the file upload input fields */
    min-width: 100%;
    user-select: none;
}

/* hides the default upload document style */
.file-input {
    display: none;
}

/* adds spacing above form input error messages  */
.text-danger{
    margin: var(--xx-small-s) 0px !important;
}

/*----------------------
    BUTTONS
----------------------*/
/* default button styles without coloring */
.btn,
button {
    font-family: var(--normal-font) !important;
    font-size: var(--font-normal);
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius);
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    height: var(--xx-large-s);

    padding: var(--small-s);
}

/* fixed button width */
.btn-width {
    width: 150px;
}

/* style for buttons on white backgrounds */
.colourful-btn {
    display: flex;
    flex-direction: row;
    border: var(--thick-border) var(--primary-colour) !important;
    background-color: var(--primary-colour) !important;
    color: var(--light) !important;
}

/* hover and focus style for buttons on white backgrounds */
.colourful-btn:hover,
.colourful-btn:focus {
    border: var(--thick-border) var(--primary-lighter) !important;
    background-color: var(--primary-lighter) !important;
    color: var(--light) !important;
}

/* style for on colourful backgrounds*/
.white-btn {
    border: var(--thick-border) var(--light) !important;
    background-color: var(--light) !important;
    color: var(--primary-colour) !important;
}

/* style for buttons where it has an icon */
.icon-btn {
    font-weight: var(--bold);
    color: var(--grey) !important;
}

/* style of an icon within an icon button */
.icon-btn fa-icon {
    color: var(--grey) !important;
    margin: var(--x-small-s) 0px;
}

/* style of an icon when hovering or focusing */
.icon-btn:hover,
.icon-btn:hover fa-icon,
.icon-btn:focus,
.icon-btn:focus fa-icon {
    color: var(--dark) !important;
}

/* style of a dark icon button */
.icon-btn-dark {
    font-weight: var(--bold);
    color: var(--dark) !important;
    background-color: transparent !important;
}

/* style of a dark icon button on hover or focus*/
.icon-btn-dark:hover,
.icon-btn-dark:hover fa-icon,
.icon-btn-dark:focus .icon-btn-dark:focus fa-icon {
    color: var(--primary-colour) !important;
}

/* style of a neutral button on a white background */
.outline-btn {
    border: var(--thick-border) var(--primary-colour) !important;
    background-color: var(--light) !important;
    color: var(--primary-colour) !important;
}

.outline-btn fa-icon {
    color: var(--primary-colour);
}

/* style of a neutral button when hovering or focusing*/
.outline-btn:hover,
.outline-btn:focus {
    border: var(--thick-border) var(--primary-lighter) !important;
    background-color: var(--light) !important;
    color: var(--primary-lighter) !important;
}



/* style of a neutral button on a colourful background */
.white-outline-btn {
    border: var(--thick-border) var(--light) !important;
    background-color: var(--primary-colour) !important;
    color: var(--light) !important;
}

/* style of a button when it is disabled*/
button[disabled] {
    background-color: var(--light) !important;
    border-color: var(--grey) !important;
    color: var(--grey) !important;
}

/* add margins to icons within buttons */
.btn fa-icon,
button fa-icon {
    margin: 0px var(--small-s) 0px 0px;
}

/* removes margins for close buttons using font awesome icons */
.close-btn fa-icon {
    margin: 0px !important;
}

/* adds margins to on right for buttons on the left */
.left-btn {
    margin-right: var(--small-s);
}

/* adds margin on left for buttons on right */
.right-btn {
    margin-left: var(--small-s);
}

/*----------------------
    TABLES
----------------------*/
/* overwriting bootstrap styles for table */
.table> :not(caption)>*>* {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0px;
}

/* style for table header content */
thead {
    border-bottom: var(--thin-border) var(--lighter-grey);
}

/* setting styles for table headers  */
.table th {
    font-family: var(--normal-font);
    font-size: var(--font-normal);
    font-weight: var(--bold);

    padding: var(--normal-s) 0px;
    color: var(--grey);
}

/* style for table data cells  */
td {
    font-family: var(--normal-font);
    font-size: var(--font-medium);
    font-weight: var(--regular);

    padding: var(--normal-s) 0px !important;

    color: var(--dark-grey) !important;
}

/*----------------------
    OTHER
----------------------*/
/* style for horizontal rule */
hr {
    background-color: var(--lighter-grey);
    height: 1.5px;
    margin: var(--small-s) 0px;

    border: none !important;
    width: 100% !important;
}

/*---------------------------------
    Media Query for Mobile Devices
----------------------------------*/
@media (min-width: 300px) and (max-width:428px) {

    /* TEXT */
    h1 {
        font-size: var(--font-large);
    }

    h2 {
        font-size: var(--font-medium);
    }

    h3 {
        font-size: var(--font-normal);
    }

    .page-content,
    .mobile-header {
        /* add space at the top to take the navbar size into consideration 
        removes space on the left, right and bottom for smaller screens */
        padding: 55px 0px 0px !important;
    }

    /* set styles for all content within page-content div */
    .page-content>* {
        padding: var(--normal-s) !important;
    }

    /* outermost container */
    .outer-container {
        border: none !important;
    }

    .container,
    .form-container {
        width: 100%;
        height: 100%;
        /* border: none !important; */
    }

    .container,
    .form-container {
        padding: var(--medium-s);
    }

    .page-heading {
        padding: var(--normal-s) 0px 0px 0px;
        /* ensures that page heading appear above  the background image opacity*/
        position: relative;
    }

    .card {
        padding: var(--small-s);
        margin-bottom: var(--small-s);
    }

    .btn,
    button {
        padding: var(--small-s);
    }

    .left-btn {
        margin-left: 0px !important;
    }

    .right-btn {
        margin-right: 0px !important;
    }

    .modal,
    .modal-content {
        /* changes padding for a modal */
        padding: var(--normal-s);
    }

    .btn-width {
        width: 100%;
    }

    .no-data-card-inner {
        width: 100%;
        /* makes the dashboard container for no items height fit to the content within it*/
        height: max-content !important;
    }

    /*----------------------
        HIDE ITEMS
    ----------------------*/
    /* hide items on small screens */
    .mobile-hidden {
        display: none !important;
    }

    /* hides the sidebar on smaller screens */
    .sidebar {
        display: none !important;
    }

}

/*---------------------------------
    Media Query for tablets/IPad
----------------------------------*/
@media (min-width: 481px) and (max-width: 767px) {

    /* TEXT */
    h1 {
        font-size: var(--font-large);
    }

    h2 {
        font-size: var(--font-medium);
    }

    h3 {
        font-size: var(--font-normal);
    }

    .page-content{
        /* add space at the top to take the navbar size into consideration */
        padding: 55px var(--xx-large-s) var(--normal-s) !important;
    }

    /* set styles for all contnet within page-content div */
    .page-content>* {
        padding: var(--normal-s) !important;
    }

    .page-heading {
        padding: var(--normal-s) 0px 0px 0px;
    }

    .container,
    .form-container {
        width: 75%;
        padding: var(--medium-s);
    }

    /*----------------------
        HIDE ITEMS
    ----------------------*/
    /* hide items on small screens */
    .mobile-hidden {
        display: none !important;
    }

    /* hides the sidebar on smaller screens */
    .sidebar {
        display: none !important;
    }
}

/*-------------------------------------------------
    Media Query for tablets/IPad in landscape mode
--------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {

    /* TEXT */
    h1 {
        font-size: var(--font-large);
    }

    h2 {
        font-size: var(--font-medium);
    }

    h3 {
        font-size: var(--font-normal);
    }

    .form-container {
        width: 80% !important;
    }

    .page-content {
        /* add space at the top to take the navbar size into consideration */
        padding: 75px var(--xx-large-s) var(--normal-s) !important;
    }

    .container,
    .form-container {
        padding: var(--large-s);
    }

    /*----------------------
        HIDE ITEMS
    ----------------------*/
    /* hide items on small screens */
    .mobile-hidden {
        display: none !important;
    }

    /* hide the header on large screens */
    .mobile-header {
        display: none;
    }

    /* hides the sidebar */
    .sidebar {
        display: none !important;
    }

}

/*--------------------------------------
    Media Query for laptops & desktops
----------------------------------------*/
@media (min-width: 1025px) and (max-width: 1280px) {

    .page-content{
        /* add space at the top to take the navbar size into consideration */
        padding: 75px var(--xx-large-s) var(--xx-large-s) !important;
    }
        app-sidebar {
            padding-top: 55px;
        }

    .form-container {
        width: 60% !important;
    }

    .container,
    .form-container {
        padding: var(--large-s);
    }

    /*----------------------
        HIDE ITEMS
    ----------------------*/
    /* hide items on large screens */
    .large-hidden {
        display: none !important;
    }

    /* hide the header on large screens */
    .mobile-header {
        display: none;
    }
}

/*--------------------------------
    Media Query for large screens
----------------------------------*/
@media (min-width: 1281px) {

    .page-content{
        /* add space at the top to take the navbar size into consideration */
        padding: 75px var(--xx-large-s) var(--xx-large-s) !important;
    }
    /* adds padding to top of sidebar */
        app-sidebar {
            padding-top: 55px;
        }

    .container,
    .form-container {
        padding: var(--xx-large-s);
        /* width: 35% !important; */
    }

    /*----------------------
        HIDE ITEMS
    ----------------------*/
    /* hide items on large screens */
    .large-hidden {
        display: none !important;
    }

    /* hide the header on large screens */
    .mobile-header {
        display: none;
    }
}