@import "~bootstrap/dist/css/bootstrap.css";
@import 'src/assets/fonts/_fonts.css';

:root {

    /* COLOUR PALETTE */

    --primary-colour: #606C38;/*primary green colour */
    --primary-lighter: #7D8953;
    --primary-light: #9BA66F;
    --secondary-colour: #D15F20;
    
    --dark: #2E2E2E;/*default colour for text*/
    --dark-grey: #4C5359;/* colour of paragraphs*/
    --light: #F8F9FA;/*default background colour and colour of text on colour backgrounds*/

    --grey: #6C757D;/* grey-text, fine prints, placeholder colour */
    --lighter-grey: #ADB5BD;/* borders, strokes, input field-outlines*/
    --light-grey: #DEE2E6;/* borders and strokes */


    /* FONTS */
    --fancy-font:'Arvo';
    --normal-font:'Lato';

    /* FONT SIZES */
    --font-x-large: 24px;
    --font-large: 22px;
    --font-medium: 18px;
    --font-normal: 16px;
    --font-small: 14px; 
    --font-x-small: 12px;

    /* FONT WEIGHTS */
    --thin:100;
    --light-font: 300;
    --regular:400;
    --bold:700;
    

    /* BORDERS */
    --border-radius: 3px;
    --btn-border: 2px solid;
    --container-border: 1px solid;

    /* SPACING & SIZING*/
    --x-small-s:4px;
    --small-s: 8px;
    --normal-s: 14px;
    --large-s:24px;
    --x-larger-s: 36px;
}

body{
    font-family: var();
}

.actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: var(--normal-s);

    width:100%
}

/* DISPLAY RESPONSIVENESS */
.justify-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%
}

.justify-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%
}

.justify-center {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%
}

/* TEXT */
h1{
    font-family: var(--fancy-font);
    font-size: var(--font-x-large);
    font-weight: var(--bold);

    margin: 0px 0px var(--normal-s) 0px;

    color:var(--dark);
}

h2{
    font-family: var(--fancy-font);
    font-size: var(--font-normal);
    font-weight: var(--bold);

    margin: 0px 0px var(--normal-s) 0px;

    color:var(--dark);
}

h3{
    font-family: var(--normal);
    font-size: var(--font-medium);
    font-weight: var(--bold);

    margin: 0px 0px var(--normal-s) 0px;

    color:var(--dark);
}

p{
    font-family: var(--normal);
    font-size: var(--font-medium);
    font-weight: var(--regular);

    margin: 0px 0px var(--normal-s) 0px;

    color:var(--dark);
}

a{
    color:var(--primary-colour) !important;
    
}

a:hover, a:active{
    text-decoration: underline !important;
}

/* FORMS */
label, .form-label{
    font-family: var(--normal);
    font-size: var(--font-regular);
    font-weight: var(--bold);

    margin: 0px 0px var(--small-s) 0px;

    color:var(--dark);
}

input, .form-control{
    border-radius: var(--border-radius);
    border: var(--container-border) var(--lighter-grey);

}


.form-group{


}

.form-input{
    padding: var(--x-small-s);
    margin: var(--normal-s) 0px;
}

.form-text{
    margin: calc(var(--x-small-s) * -1) 0px var(--x-small-s) 0px;
}

/* CONTAINERS */
.container{
    border-radius: var(--border-radius);
    border: var(--container-border);
}


/* BUTTONS */
.btn, button{
    font-family: var(--normal);
    font-size: var(--font-medium);
    font-weight: var(--regular);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius);

    height: var(--x-larger-s);
    
    padding: var(--small-s);
}


.colourful-btn{
    border: var(--primary-colour) !important;
    background-color: var(--primary-colour) !important;
    color: var(--light) !important;
}

.colourful-btn:hover,
.colourful-btn:focus {
    border: var(--thick-border) var(--primary-lighter) !important;
    background-color: var(--primary-lighter) !important;
    color: var(--light) !important;
}

.outline-btn:hover,
.outline-btn:focus {
    border: var(--thick-border) var(--primary-lighter) !important;
    background-color: var(--light) !important;
    color: var(--primary-lighter) !important;
}

.icon-btn:hover,
.icon-btn:focus {
    color: var(--dark) !important;
}

.icon-btn-dark:hover,
.icon-btn-dark:focus {
    color: var(--primary-colour) !important;
}

button[disabled] {
    background-color: var(--light) !important;
    border-color: var(--grey) !important;
    color: var(--grey) !important;
}

/* TABLES */

.table> :not(caption)>*>* {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0px;
}

thead {
    
    border-bottom: var(--thin-border) var(--lighter-grey);
}

.table th {
    font-family: var(--normal-font);
    font-size: var(--font-regular);
    font-weight: var(--bold);

    padding: var(--normal-s) 0px;
    color: var(--grey);
}

td {
    font-family: var(--normal-font);
    font-size: var(--font-medium);
    font-weight: var(--regular);

    padding: var(--normal-s) 0px !important;

    color: var(--dark-grey) !important;
}


hr {
    background-color: var(--lighter-grey);
    height: 1.5px;
    margin: var(--x-small-s) 0px;

    border: none !important;
    width: 100% !important;
}


@media only screen and (max-width: 576px) {

    /* TEXT */
    h1 {
        font-size: var(--font-medium);
    }

    h2 {
        font-size: var(--font-normal);
    }

    h3 {
        font-size: var(--font-small);
    }

    /* HIDE ITEMS*/
    /* hide items on small screens */
    .mobile-hidden {
        display: none !important;
    }

    .page-content {
        padding: 0px !important;
    }

    .page-heading {
        padding: var(--normal-s) 0px 0px var(--normal-s);
    }
    .mobile-header{
        display: inline-flex;
        width: 393px;
        height: 100px;
        align-items: flex-start;
        flex-shrink: 0;
        
        }
        


}


@media only screen and (min-width: 577px){ 

     /* HIDE ITEMS */
     /* hide items on large screens  */
     .large-hidden {
        display: none !important;
    } 

    .mobile-header{
        display: none;
        
        } 
 }
 /* Media Query for Mobile Devices */

 /* @media (max-width: 390px) {
    body {
        .column {
            width: 100%;
          }
    } */
/* }
 @media (max-width: 480px) {
    body {
        background-color: red;
    }
} */
  
/* Media Query for low resolution  Tablets, Ipads */
/* @media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: yellow;
    }
} */
  
/* Media Query for Tablets Ipads portrait mode */
/* @media (min-width: 768px) and (max-width: 1024px){ */
    /* body {
        background-color: blue;
    }
}
   */
/* On screens that are 992px wide or less, go from four columns to two columns */
/* @media screen and (max-width: 992px) {
    .column {
      width: 70%;
    }
  } */
/* Media Query for Laptops and Desktops */
/* @media (min-width: 1025px) and (max-width: 1280px){
    body {
        background-color: green;
    }
} */
  
/* Media Query for Large screens */
/* @media (min-width: 1281px) {
    body {
        background-color: white;
    }
} */

