.align-center
/* ------------------------------------------------------------------------------------------------
    AUTHOR: Monique
    CREATE DATE: 24 Jul 2023
    UPDATED DATE: 17 Aug 2023 
-------------------------------------------------------------------------------------------------*/

.page-body {
    background-image: url("src/assets/images/background/orange-trees.webp");
}

@media (min-width: 300px) and (max-width:428px) {

    .page-body {
        background-image: url("src/assets/images/background/orange-trees.webp");
    }

.row {
    
    /* height: 50%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col-6 {
    width: 100%;
    margin: 5%;
}


}

@media (min-width: 481px) and (max-width: 767px) {
    .page-body {
        background-image: url("src/assets/images/background/orange-trees.webp");
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .page-body {
        /* background-image: url("src/assets/images/background/orange-trees.webp"); */
    }
}