.page-body {
    background-image: url("src/assets/images/background/orange-trees.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* opacity: 0.7; */
}

.container{
    flex-direction: column;
    width: 75%;
}

.container>*{
    margin: var(--normal-s);
}

.container h1{
    text-align: center;
}

@media (max-width: 390px) {

    .container{
        width: 100%;
    }
}