<div class="row page-body">
    <div class="col-12">
        <app-navbar></app-navbar>
    </div>
    <div class="col-lg-2 sidebar mobile-hidden">
        <hr />
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10 page-content">
        <div class="page-heading">
            <h1>Dashboard</h1>
        </div>
        <!-- <div class="justify-center">
            <div class="container justify-center">
                <h1>Your Dashboard Is Looking A Bit Empty...</h1>
                <h3>Add bookkeeping records to fill it up!</h3>
                <div class="actions justify-center">
                    <button
                        class="btn colourful-btn"
                        type="button"
                        [routerLink]="['/bookkeep']">
                        Go to Bookkeep
                    </button>
                </div>
            </div>
        </div> -->
        <div class="container">
            <div class="container-header">
                <div class="justify-start">
                    
                </div>
                <div class="justify-end">
                    <button class="btn colourful-btn">
                        <p>Month</p>
                    </button>
                    <button class="white-btn">
                        <p>Year</p>
                    </button>
                </div>

            </div>
            <app-money-card-summary></app-money-card-summary>
            <app-bar-chart></app-bar-chart>
            <app-donut-graph></app-donut-graph>
           
         
        </div>
      

        <div class="container">
            
            <app-portfolio-progressbar></app-portfolio-progressbar>
        </div>
   

    </div>
</div>
