h2{
    margin: 0px !important;
    padding: var(--small-s) 0px;
    font-family: var(--normal-font);
}


.actions button{
    width: 100%;
}

.content>*{
    margin-bottom: var(--normal-s) !important;
}