<div class="page-body justify-center">
    <!-- <div class="col-md-6 col-sm-12 mobile-hidden">
        <img src="assets/images/background/barn.webp" alt="Avatar">
    </div> -->
    <div class="mobile-header "></div>
    <div class="container form-container">
        <div class="container-header">
            <div class="justify-start ">
                <h2>Record Details</h2>
            </div>
            <div class="justify-end">
                <button class="btn icon-btn close-btn" [routerLink]="['/bookkeep']">
                    <fa-icon icon="times"></fa-icon>
                </button>
            </div>
        </div>
        <hr>
        <div class="content">
            <div class="row" id="record-name">
                <div class="col-sm-12" id="label">
                    <label>Name of Record</label>
                </div>
                <div class="col-12" id="value">
                    <p class="greyed">Bought Seeds</p>
                </div>
            </div>
            <div class="row" id="date-added">
                <div class="col-12" id="label">
                    <label>Date Added</label>
                </div>
                <div class="col-12" id="value">
                    <p class="greyed">12 September 2023</p>
                </div>
            </div>
            <div class="row" id="record-type">
                <div class="col-12" id="label">
                    <label>Type of Record</label>
                </div>
                <div class="col-12" id="value">
                    <p class="greyed">Money Out</p>
                </div>
            </div>
            <div class="row" id="record-amount">
                <div class="col-12" id="label">
                    <label>Amount of Record</label>
                </div>
                <div class="col-12" id="value">
                    <p class="greyed">R 1,200.00</p>
                </div>
            </div>
            <div class="row" id="record-description">
                <div class="col-12" id="label">
                    <label>Record Description</label>
                </div>
                <div class="col-12" id="value">
                    <p class="greyed">Money paid for seeds</p>
                </div>
            </div>
            <div class="row" id="record-proof">
                <div class="col-sm-12 col-md-6" id="label">
                    <label>Proof of Record</label>
                </div>
                <div class="col-sm-12 col-md-6 justify-center" id="value">
                    <div class="document-name justify-start">
                        <p class="greyed">Seed_Purchase.png</p>
                    </div>
                    <div class="view-btn justify-end">
                        <button class="btn colourful-btn">
                            View
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="actions">
            <div class="justify-start">
                <button class="btn colourful-btn">
                    <fa-icon icon="pen"></fa-icon>
                    Edit
                </button>

            </div>
            <div class="justify-end">
                <button class="btn outline-btn">
                    <fa-icon icon="trash"></fa-icon>
                    Delete
                </button>
            </div>
        </div>

    </div>
</div>