.page-body {
    background-image: url('src/assets/images/background/barn.webp');
    flex-direction: column;
}

.icon-btn {
    background-color: var(--light);
}
@media only screen and (max-width: 575px) {
    .mobile-header {
        background-image: url('src/assets/images/background/barn.webp');
    }

    .page-body {
        /* display: block; */

        justify-content: center;
    }
    .container {
        border: none;
    }
}
/*--------------------------------
    Media Query for large screens
----------------------------------*/
@media (min-width: 1281px) {
    .page-content {
        padding: var(--x-large-s) !important;
    }

    .container {
        width: 35% !important;
    }
}
/* CSS Styles for Success and Error States */
.has-success .form-control {
    border-color: green;
}

.has-error .form-control {
    border-color: red;
}
