<div class=" record-table" id="container">
    <div class="add-icon-container">
        <button class="btn icon-btn btn" type="button" [routerLink]="['/equipment-create']">
            <fa-icon icon="plus"></fa-icon>Add
        </button>
        <div class="action">
            <app-enableform-crop-info (enableFields)="enableFields()"
                (saveData)="onSaveClicked($event)"></app-enableform-crop-info>
        </div>
    </div>
    <div class="container">
        <form [formGroup]="equipmentForm">
            <div class="form-group">
                <label for="equipmentName">Name of equipment</label>
                <div class="form-text">
                    Describe the equipment in 1-10 words. Example: Wooden Rake
                </div>
                <input formControlName="equipmentName" class="form-control" id="equipmentNameInfa-pull-left" />
            </div>
            <div class="form-group">
                <label for="equipmentType">Type of</label>
                <input formControlName="equipmentType" class="form-control" id="equipmentTypeInfa-pull-left" />
            </div>
            <div class="form-group">
                <label for="purchase_Amount">Purchase Amount</label>
                <input formControlName="purchase_Amount" class="form-control" id="purchase_AmountInfa-pull-left" />
            </div>
            <div class="form-group">
                <label for="age">Age in years</label>
                <input formControlName="age" class="form-control" id="age" />
            </div>
            <div class="document-upload">
                <div class="doc-header justify-start">
                    <label for="recordProof">Upload Proof of Ownership </label>
                    <div class="form-text">PDF, PNG, JPG</div>
                </div>
                <hr />
                <div class="file">
                <input formControlName="recordProof" class="form-control" type="file" id="recordProof" />
                <button 
                    class="btn colourful-btn ">
                    View
                </button>
                </div>
            </div>

        </form>
    </div>


</div>