

<div class="container record-table">
    <div class="add-icon-container">
        <button class="btn icon-btn btn" type="button" [routerLink]="['/equipment-create']">
          <fa-icon icon="plus"></fa-icon>Add another
        </button>
      </div>
    <table class="table mobile-hidden">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Age(years)</th>
                <th scope="col">Purchase Amount</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody *ngFor="let asset of equipmentRecords">
            <tr class="record-tr">
                <td scope="row">{{asset.name}}</td> 
                <td>{{asset.type}}</td>
                <td>{{asset.age}}</td>
                <td>{{asset.purchase_price  | currency: ' R ' : 'symbol' : '.2'}}</td>
               <td>
                    <div class="action-buttons">
                        <button class="btn colourful-btn btn-width" (click)="onEditClicked()" [routerLink]="['/equipment-edit']">Edit</button>
                    </div>
                </td>
            </tr>
            
        </tbody>
    </table>

    <div class="large-hidden outer-container" *ngFor="let asset of equipmentRecords">
       
        <div class="info">
            <div class="left justify-start">
                <!-- <p class="justify-start">
                    {{asset.type}}
                </p> -->
                <p class="greyed ">
                    {{ asset.name}}
                </p>
            </div>
                <div class="center justify-center">
                <p class="greyed ">
                    {{asset.purchase_price  | currency: ' R ' : 'symbol' : '.2'}}
                </p>
            </div>
            <div class="right justify-end">
                <div class="action-buttons ">
                    <button class="btn colourful-btn" (click)="onEditClicked()">Edit</button>
                </div>
            </div>
       </div>
        <hr *ngIf="!isLast" />
    </div>
</div>



