/* --------------------------------
      Created by Nkadimeng Kamogelo
    ---------------------------------*/

/* Styling for FontAwesome icons */
fa-icon {
    color: var(--grey);
}

/* Styling for inline content */
.inline-content {
    display: inline-block; /* or "inline" if you want them to be truly inline elements */
    margin: 0;
}

/* Styling for a general container */
.container {
    width: 100%;
}

/* Styling for a container with "add" icons */
.add-icon-container {
    margin-bottom: 2%;
}

/* Styling for left and right sections (flex containers) */
.left,
.right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Media Query for Mobile Devices (width range: 300px to 428px) */
@media (min-width: 300px) and (max-width: 428px) {
    /* Styles for buttons */
    button {
        margin-bottom: 10%;
    }

    /* Styles for the "info" section */
    .info {
        display: flex;
    }

    /* Adjust container height for mobile devices */
    .container {
        height: auto !important;
    }
}
