.page-body {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("src/assets/images/background/orange-trees.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* opacity: 0.7; */
}

h1 {
    text-align: center;
}

.carousel-images {
    height: 100px !important;
    width: 100px !important;
    border-radius: 100%;
}

.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    margin: 0 10px !important;
    border-radius: 100%;
    background-color: var(--primary-colour) !important;
}

.carousel-inner {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    padding: 24px;
    gap: 24px;
    background-color: var(--light);
    align-items: center;
    justify-items: center;
    border-radius: var(--primary-colour 3px);
    border: var(--container-border 3px solid)
}

.carousel-control-next {
    display: flex;
    position: relative;
}

.carousel-control-prev {
    display: flex;
    position: relative;
}

.justify-start {
    width: 100%;
}

.justify-end {
    width: 100%;
}

.container {

    margin-bottom: 100%;
    padding: 25px;
    width: 750px;
    height: auto;
    text-align: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

.carousel-inner {
    align-items: center;
    gap: 25px;
    width: fit-content;
    padding: 50px;
}

.carousel-indicators {
    width: auto !important;
    height: auto !important;
}


@media only screen and (max-width: 575px) {
    .page-body {
        background-image: none;
        padding: var(--large);
        width: 100%;
        /* opacity: 0.7; */
    }

    .carousel-images {
        height: 50px !important;
        width: 50px !important;
    }

}
@media only screen and (max-width: 575px) {
   .page-body, .container{
    width: 100%;
   }
   img{
    width: 100%;
    height: 100%;
    padding: 0px;
   }
}