/* ------------------------------------------------------------------------------------------------
    AUTHOR: Precious, Monique, Kamo
    CREATE DATE: 24 Jul 2023
    UPDATED DATE: 17 Aug 2023 
-------------------------------------------------------------------------------------------------*/

.page-body {
    /* sets background image */
    background-image: url("src/assets/images/background/orange-trees.webp");
    /* makes items display underneath each other */
    flex-direction: column;
}

.page-heading h1 {
    /* centers page heading text */
    text-align: center;
    /* changes the page headings to dark colour */
    color: var(--dark);
}

.justify-center {
    /* makes everything display underneath each other */
    flex-direction: column;
}

p {
    /* aligns items text to the center */
    text-align: center;
}

/*---------------------------------
    Media Query for Mobile Devices
----------------------------------*/
/*---------------------------------
    Media Query for Mobile Devices
----------------------------------*/
@media (min-width: 300px) and (max-width:428px) {

    /* set styles for all content within page-content div */
    .page-content>* {
        padding: var(--normal-s) !important;
    }

    .page-body {
        /* removes the image from the background */
        background-image: none;
    }

    .page-background::before {
        /* removes the dark filter overlay from the background */
        display: none;
    }

    .page-content {
        /* removes padding */
        padding: 0px !important;
    }

    .mobile-header {
        background-image: url("src/assets/images/background/orange-trees.webp");
    }

    .container {
        /* makes carousel container not stretch to off screen size */
        display: flex;
        flex-direction: column;
        max-height: 100%;

    }

}

/*---------------------------------
    Media Query for tablets/IPad
----------------------------------*/
@media (min-width: 481px) and (max-width: 767px) {}

/*-------------------------------------------------
    Media Query for tablets/IPad in landscape mode
--------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {}

/*--------------------------------------
    Media Query for laptops & desktops
----------------------------------------*/
@media (min-width: 1025px) and (max-width: 1280px) {}

/*--------------------------------
    Media Query for large screens
----------------------------------*/
@media (min-width: 1281px) {}