.page-body {
    /* sets background image */
    background-image: url("src/assets/images/background/orange-trees.webp");
    /* makes items display underneath each other */
    flex-direction: column;
}

.page-heading {
    text-align: center;
}

.container-inner {
    width: 100%;
}

.carousel-inner {
    /* makes the carousel inner take up all the available space */
    width: 100% !important;
    height: 100% !important;
    align-items: center;
    justify-content: center;
}

.justify-center {
    /* makes everything display underneath each other */
    flex-direction: column;
}

p {
    /* aligns items text to the center */
    text-align: center;
}

.carousel-image {
    /* sets the size of carousel image */
    min-height: 20% !important;
    max-width: 20% !important;
    border-radius: 20%;
}

.carousel-indicators button {
    /* sets the size of carousel indicators */
    height: var(--normal-s) !important;
    width: var(--normal-s) !important;
    /* sets the margins on the left and right of a carousel indicator */
    margin: 0px var(--x-small-s) !important;
    /* makes the indicators rounded */
    border-radius: 100%;

    background-color: var(--lighter-grey) !important;
}

.carousel-indicators .active {
    /* changes the active indicator to green */
    background-color: var(--primary-colour) !important;
}



.carousel-control-next, .carousel-control-prev {
    /* fixes carousel controls to the bottom of the page*/
    display: flex;
    position: relative;
    /* changes the  carousel indicator colors to dark*/
    color: var(--dark);
    /* increases the opacity of controls */
    opacity: 1;
}

.carousel-indicators {
    width: auto !important;
    height: auto !important;
    padding: 0px !important;
}

fa-icon {
    /* changes icon colors to dark */
    color: var(--dark);
}

.page-heading h1 {
    /* changes the page headings to dark colour */
    color: var(--dark);
}


.justify-start {
    padding-left: 25px !important;
}

.justify-end {
    padding-right: 25px !important;
}


/*---------------------------------
    Media Query for Mobile Devices
----------------------------------*/
@media (min-width: 300px) and (max-width:428px) {

    .page-body {
        /* removes the image from the background */
        background-image: none;
    }

    .page-background::before {
        /* removes the dark filter overlay from the background */
        display: none;
    }

    .page-content {
        /* removes padding */
        padding: 0px !important;
    }

    .mobile-header {
        background-image: url("src/assets/images/background/orange-trees.webp");
    }

}

/*---------------------------------
    Media Query for tablets/IPad
----------------------------------*/
@media (min-width: 481px) and (max-width: 767px) {}

/*-------------------------------------------------
    Media Query for tablets/IPad in landscape mode
--------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px) {}

/*--------------------------------------
    Media Query for laptops & desktops
----------------------------------------*/
@media (min-width: 1025px) and (max-width: 1280px) {}

/*--------------------------------
    Media Query for large screens
----------------------------------*/
@media (min-width: 1281px) {}