<div class="modal-header container-header justify-center">
    <h1 class="modal-title normal-font">Delete Record</h1>
</div>
<div class="modal-body justify-center">
    <p class="align-center">Are you sure you want to delete this record?</p>
</div>
<div class="modal-footer">
    <div class="actions">
        <div class="justify-start">
            <button
                type="button ngbAutofocus"
                class="btn colourful-btn left-btn btn-width">
                No
            </button>
        </div>
        <div class="justify-end">
            <button type="button" class="btn outline-btn right-btn btn-width">Yes</button>
        </div>
    </div>
</div>
